/* LGridView
------------------------------*/
.L-grid{
    margin:0px;
    padding:0px;
    height:100%;
}

.L-grid table{
    table-layout:fixed;
    width:100%;
}

.L-grid table td {
    vertical-align: middle;
    overflow:hidden;
}

.L-grid-resize-proxy{
    background-color:#777777;
    border:0 none;
    cursor:col-resize;
    overflow:hidden;
    position:absolute;
    width:1px;
    z-index:999;
    top:0;
    left:0;
    visibility:hidden;
}
.L-grid-dd-proxy{
    border:2px solid #AAAAAA;
    position:absolute;
    visibility:hidden;
    cursor:move;
    z-index:999;
    top:0;
    left:0;
}
.L-grid-dd-proxy div{
    width:100%;
    height:100%;
    background-color:#CCCCCC;
    opacity:0;
    filter: alpha(opacity=0);
}
.L-grid-dd-target{
    background-color:red;
    width:50x;
    position:absolute;
    z-index:99;
    visibility:hidden;
    top:0;
    left:0;
}

.L-grid-col{}

.L-grid-header{
    overflow:hidden;
    border-bottom:#CCCCCC 1px solid;
}

.L-grid-header-table {
    table-layout: fixed !important;
}

.L-grid-row-dummy-cell {

}

.L-grid-header a{
    text-decoration:none;
    color:Black;
}
.L-grid-header-offset{
}
.L-grid-header-row{
}

.L-grid-header-row td, .L-grid-row-dummy td {
    text-align:center;
    border : 0px;
    border-right : #CCCCCC 1px solid;
    /*multi header*/
    border-top : #CCCCCC 1px solid;
    padding:0px;
    vertical-align:middle;
}

.L-grid-header-row .L-grid-header-inner {
    padding:4px 0px;/*4px 3px 4px 5px;=>multi header에서 ie8에서 열안맞는 원인1, width값 변경요인 제거 */
    overflow: hidden;
    white-space:nowrap;
}

.L-grid-header-row .L-grid-header-selection {
    width: 25px;
}

.L-grid-header-row .L-grid-header-num {
}

.L-grid-header-row .L-grid-header-state {
    padding:0px;
    width: 14px;
}

.L-grid-header-row .L-grid-cell-first{
}

.L-grid-header-row-first{}
.L-grid-header-row-first td{
    /*multi header*/
    border-top :0;
}

.L-grid-header-row-last{}

.L-grid-header-cell{
}

.L-grid-header-inner{
}
.L-grid-header-btn {}

.L-grid-header-over{
    overflow:hidden;
}

.L-grid-li-first {
    display: none;
}

.L-grid-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.L-grid-li-first {
    position: absolute;
    top: 0px;
    left: 0px;
}

.L-grid-column-freeze .L-grid-li-first {
    display: block;
    overflow: hidden;
}

.L-grid-view.L-grid-column-freeze .L-grid-header .L-grid-li-first {
    z-index: 2;
    border-bottom: 1px solid #CCC;
}

.L-grid-li-first {
    background-color: white;
    z-index: 1;
}

html.L-ua-msie7 .L-grid-li-last {
	display: inline-block;
	*display: inline;
	*zoom: 100%;
}

.L-grid-body{
    overflow:hidden;
}
.L-grid-body-empty{
    border:0px;
    border-right:solid 1px #EDEDED;
    border-bottom:solid 1px #EDEDED;
    text-align:center;
    padding: 3px 0px;
}

.L-grid-loading-panel {
    position : absolute;
    z-index:100;
    top: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    _height: expression(parentNode.offsetHeight);
}

.L-grid-loading-mask {
    background-color: gray;
    opacity: .2;
    -moz-opacity: 0.2;
    filter: alpha(opacity=20);
    width: 100%;
    height: 100%;
    _height: expression(parentNode.offsetHeight);
}

.L-grid-loading-message {
    background:transparent url(./images/grid/waiticon.gif) no-repeat 0 0;
    display: inline;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 46%;
    width: 100px;
    height: 100px;
}

.L-grid-col-line .L-grid-row {
    border-top-color:#CCCCCC;
}

.L-grid-col-line .L-grid-row td.L-grid-cell{
    border-top : 0;
    border-left:0;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-right:0px;
}

.L-grid-row{
    /*top left&right bottom*/
    border:0px;
    /*border-top: 0px;
    border-left: 0px;*/
    border-color : #CCCCCC;
    cursor:default;
}

.L-grid-row .L-grid-cell-inner {
    margin:0px;
    overflow:hidden;
    padding: 3px 3px 3px 5px;
    white-space:nowrap;
}

.L-grid-row-first{}
.L-grid-row-first .L-grid-cell{
}
.L-grid-row-last{}
.L-grid-row-last .L-grid-cell{
}
.L-grid-row-odd{}
.L-grid-row-even{
    background-color:#F7F7F7;
}

.L-grid-cell{
    border:0px;
    padding:0px;
    border-right:1px solid;
    /*padding-right:0px;
    padding-left:1px;*/
    border-bottom: 1px solid #CCCCCC;
}

.L-grid-cell.L-invalid {
    background: url(./images/grid/invalid_line.gif) repeat-x bottom !important;
}

.L-grid-cell-first{}
.L-grid-cell-last{
}
.L-grid-cell-inner{}

.L-grid-header-inner, .L-grid-cell-inner {
    white-space:nowrap;
}

.L-grid-row-over{
    border-color:#ddd !important;
    background-color:#efefef !important;
}

.L-grid-summary-col {
    border-right: 1px solid #cccccc;
}

.L-grid-summary-label {
    text-align: right;
}

.L-grid-summary-row .L-grid-cell-inner {
    margin: 0px;
    overflow: hidden;
    padding: 3px 3px 3px 5px;
    white-space: nowrap;
}

.L-grid-sort-asc .L-grid-sort-icon {
    background-image: url(./images/grid/array_up.png) !important;
}

.L-grid-sort-desc .L-grid-sort-icon {
    background-image: url(./images/grid/array_down.png) !important;
}

.L-grid-sort-icon {
	background-repeat: no-repeat;
    height: 11px;
    width: 17px;
    margin-left:3px;
    vertical-align: middle;
    display: inline;
    margin-right: -11px;
    cursor: pointer;
    *margin-top: -5px;
    display: none;
}

.L-grid-cell-sortable .L-grid-sort-icon {
    background-image: url(./images/grid/array_up_down.png);
    display: inline-block;
    background-position-x: 5px;
}

.L-grid-header-row .L-grid-cell-state .L-grid-header-inner {
    background-image: url(./images/grid/light_white_red.png);
    background-position:3px center;
    background-repeat:no-repeat;
    background-color: transparent #000;
}

.L-grid-header-row .L-grid-cell-state .L-grid-header-inner a {
    display: none;
}

.L-grid-row .L-grid-cell-state .L-grid-cell-inner {
    padding: 3px 0px;
}

.L-grid-header-row .L-grid-state-modified .L-grid-header-inner {
    background-position:-22px center;
}

.L-grid-cell-state-I {
    background-image: url(./images/grid/add_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.L-grid-cell-state-U {
    background-image: url(./images/grid/edit_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.L-grid-cell-state-D {
    background-image: url(./images/grid/del_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.L-grid-panel {
    position: relative;
    visibility: inherit;
    height:100%;
}

.L-grid-panel.L-panel .hd {
    padding: 0px !important;
    overflow:hidden !important;
}

.L-grid-panel.L-panel .bd {
    padding: 0px !important;
    /*overflow:hidden !important;*/
    padding: 0;
    margin: 0;
}

.L-grid-panel.L-panel .ft {
    position: relative;
    padding: 0px !important;
    overflow:hidden !important;
}

.L-grid-panel.L-panel .bd .L-grid {
    background-color:white;
}

.L-grid-body.L-panel-container {
    padding : 0px;
}

.L-editor-panel {
    background-color:white;
    border:solid 1px red;
    position:absolute;
    z-index:999;
    top:0;
    left:0;
    padding:0px !important;
}

.L-editor-panel.L-panel .bd {
    overflow: hidden;
    background-color: #fff;
}

.L-editor-panel.L-panel {
    overflow : visible;
    border-width : 0px;
    padding : 0px !important;
    border-collapse: collapse;
    height: 90%;
    *height: 95%;
}

.L-editor-panel .bd {
    overflow : visible;
    height: 100%;
}

.L-grid-focus {
    width:1px;
    height:1px;
    font-size:1px;
    line-height:1px;
    position:absolute;
    /*background-color:black;*/
    outline-style:none;
    outline-width:0px;
    border:0px;
    top: -1px;
}

.L-grid-header .L-grid-header-table a {
    display: inline-block;
    *display: inline;
    *zoom: 100%;
    height: 16px;
}
/*
html.L-ua-msie7 .L-grid-header .L-grid-header-table a {
    height: auto;
}
*/
html.L-ua-msie7 .L-grid-sort-icon {
    margin-top: 2px;
}

.L-grid-row-checkBox, .L-grid-header-checkBox {
    background: url(./images/grid/row-check-sprite.gif) transparent 2px 0px no-repeat;
    width:100%;
    height:16px;
    display:inline-block;
    vertical-align:middle;
    padding: 0px;
    margin-right: 11px;
}
.L-grid-row-checkBox-disabled {
    height:16px;
}
.L-grid-row-checkBox.L-grid-row-checkBox-disabled {
    background: url(./images/grid/row-check-sprite.gif) transparent -48px 0px no-repeat;
}
.L-grid-row-marked .L-grid-row-checkBox.L-grid-row-checkBox-disabled {
    background: url(./images/grid/row-check-sprite.gif) transparent -73px 0px no-repeat;
}
.L-grid-header-checkBox {
    background-position:7px 0px;
}

.L-grid-row-marked .L-grid-row-checkBox, .L-grid-header-checkBox-mark .L-grid-header-checkBox {
    background-position:-23px 0px;
}
.L-grid-header-checkBox-mark .L-grid-header-checkBox {
    background-position:-18px 0px;
}
.L-grid-header-checkBox .L-grid-sort-icon {
    display: none;
}

.L-grid-header-radio {
    background-image: none;
}

.L-grid-row-radio {
    background-image: url(./images/grid/row-check-sprite.gif);
    width:100%;
    height:18px;
    display:inline-block;
    vertical-align:middle;
    background-position:2px 2px;
    background-repeat:no-repeat;
    background-color:transparent;
    padding: 0px;
}

.L-grid-row-selected {
    background-image: none;
    border-color:#CCCCCC;
}

.L-grid-row-selected .L-grid-cell-editable {
    /*background-image: none;*/
    border-color:#CCCCCC;
}

.L-grid-body .L-grid-cell-selected {
    border:1px solid;
    border-color : #CCCCCC;
    background-color: #DADAB4;
}

.L-grid-row-marked .L-grid-row-radio {
    background-position:-23px 2px;
}

.L-grid-panel.L-panel, .L-grid-panel.L-panel .bd {
    overflow : visible;
}

.L-grid-panel .L-masked-message {
    background:transparent url(./images/grid/waiticon.gif) no-repeat 0 0;
}

.L-grid-panel .L-grid-button  {
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
    vertical-align: middle;
}
.L-grid-panel .L-grid-button:hover {
    background-color: gray;
    border: 1px solid black;
}

.L-grid-col-checkBox {
    background-image: url(./images/grid/row-check-sprite.gif);
    height:18px;
    display:inline-block;
    vertical-align:middle;
    background-position:2px 2px;
    background-repeat:no-repeat;
    background-color:transparent;
    padding: 0px;
    width: 21px;
}

.L-grid-col-select-mark .L-grid-col-checkBox {
    background-position:-23px 2px;
}
.L-grid-cell, td.L-grid-dummy-cell {
    height: 26px;
}
.L-grid-dummy-cell {
    width:0px !important;
    border-left:0px !important;
    border-right:0px !important;
    padding-left:0px !important;
    padding-right:0px !important;
    margin-left:0px !important;
    margin-right:0px !important;
    visibility:hidden;
}
.L-grid-search-dialog {
    z-index: 3;
} 
.L-popup-renderer {
	position:relative;
}
.L-popup-renderer .L-popup-button {
	width: 80%;
	overflow-x: hidden;
}
.L-clipboard {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
    width: 70%;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    color: #000;
}
.L-clipboard textarea {
    width: 99%;
}
.L-clipboard .L-buttons {
    text-align: right;
}
.L-copy .L-buttons .L-apply {
    display: none;
}
.L-clipboard-title-copy {
    display: none;
}
.L-copy .L-clipboard-title-copy {
	display: inline;
}
.L-copy .L-clipboard-title-paste {
    display: none;
}
.L-clipboard .L-clipboard-title {
    color: #000;
    text-align: left;
    background-color: #fff;
    padding: 7px;
    font-weight: bold;
}
.L-grid-action-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.L-grid-action-menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: #000;
}
.L-grid-action-menu .L-action-menu-item {
    cursor: pointer;
    height: 40px;
    width: 70px;
    display: inline-block;
    text-align: center;
    background-color: #FFF;
    line-height: 20px;
    color: #333;
    padding: 0px;
}
.L-fn-on-tablet-click {
	padding-top: 10px !important;
	height: 30px !important;
}
.L-grid-action-menu .L-action-menu-li, .L-grid-action-menu .L-action-menu-li-hr {
    float: left;
}
.L-grid-action-menu .L-action-menu-li {
    border: 1px solid #bababa;
}
.L-action-menu-li-hr {
    width: 10px;
    height: 10px;
    background: transparent;
}
div[data-menu-type=left] li.L-menu-type-right {
    display: none;
}
div[data-menu-type=right] li.L-menu-type-left {
    display: none;
}
li.L-menu-type-right, .L-grid-action-menu li.L-menu-type-right .L-action-menu-item {
    line-height: 30px;
    height: 30px;
}
.L-grid.L-editable .L-form-field {
	border: 0;
}
html.L-ua-mobile .L-grid-scroller {
    -webkit-overflow-scrolling: touch;
}
.L-tablet-mode-false {
	display: none;
}
