/* LLogger
------------------------------*/
/* logger default styles */
/* default width: 31em */
/* default font-size 77% */
.L-log {padding:1em;width:31em;background-color:#AAA;color:#000;border:1px solid black;font-family: tahoma,sans-serif;font-size:100%;text-align:left;z-index:9000;}

/* for containers built from scratch */
.L-log-container {position:absolute;top:1em;right:1em;}

/* buttons */
.L-log input {
    margin:0;padding:0;
    font-family:arial;
    font-size:100%;
    font-weight:normal;
}
.L-log .L-log-btns {position:relative;float:right;bottom:.25em;}

/* header */
.L-log .L-log-hd {margin-top:1em;padding:.5em;background-color:#575757;}
.L-log .L-log-hd h4 {margin:0;padding:0;font-size:107%;font-weight:bold;color:#FFF;}

/* body */

.L-log .L-log-bd {width:100%;height:20em;background-color:#FFF;border:1px solid gray;overflow:auto;} /* height is controlled here: default 20em*/
.L-log p {margin:1px;padding:.1em;}
.L-log pre {margin:0;padding:0;}

/* for pre to respect newlines yet wrap long lines */
/* http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/ */
.L-log pre.L-log-verbose {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* footer */
.L-log .L-log-ft {margin-top:.5em;}
.L-log .L-log-ft .L-log-categoryfilters {}
.L-log .L-log-ft .L-log-sourcefilters {width:100%;border-top:1px solid #575757;margin-top:.75em;padding-top:.75em;}
.L-log .L-log-filtergrp {margin-right:.5em;}
/*.L-log .L-log-ft ul {margin:0;padding:0;line-height:1.8}
.L-log .L-log-ft li {list-style:none;display:inline;white-space:nowrap;}*/

/* logs */
.L-log .info {background-color:#A7CC25;} /* A7CC25 green */
.L-log .warn {background-color:#F58516;} /* F58516 orange */
.L-log .error {background-color:#E32F0B;} /* E32F0B red */
.L-log .time {background-color:#A6C9D7;} /* A6C9D7 blue */
.L-log .window {background-color:#F2E886;} /* F2E886 tan */
