/* LMenu
------------------------------*/
.L-ruimenu {
    top: -999em;
    left: -999em;
}
.L-ruimenubar {
    position: static;
}
.L-ruimenu .L-ruimenu,
.L-ruimenubar .L-ruimenu {
    position: absolute;
}
.L-ruimenubar li, 
.L-ruimenu li {
    list-style-type: none;
}
.L-ruimenubar ul, 
.L-ruimenu ul,
.L-ruimenubar li, 
.L-ruimenu li,
.L-ruimenu h6,
.L-ruimenubar h6 { 
    margin: 0;
    padding: 0;
}
.L-ruimenuitemlabel,
.L-ruimenubaritemlabel {
    text-align: left;
    white-space: nowrap;
}
/* 
    The following style rule trigger the "hasLayout" property in 
    IE (http://msdn2.microsoft.com/en-us/library/ms533776.aspx) for a
    MenuBar instance's <ul> element, allowing both to clear their floated 
    child <li> elements.
*/
.L-ruimenubar ul {
    *zoom: 1;
}
/* 
    Remove the "hasLayout" trigger for submenus of MenuBar instances as it 
    is unnecessary. 
*/
.L-ruimenubar .L-ruimenu ul {
    *zoom: normal;
}
/*
    The following style rule allows a MenuBar instance's <ul> element to clear
    its floated <li> elements in Firefox, Safari and and Opera.
*/
.L-ruimenubar>.bd>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
.L-ruimenubaritem {
    float: left;
}
.L-ruimenubaritemlabel,
.L-ruimenuitemlabel {
    display: block;
}
.L-ruimenuitemlabel .helptext {
    font-style: normal;
    display: block;    
    /*
        The value for the left margin controls how much the help text is
        offset from the text of the menu item.  This value will need to 
        be customized depending on the longest text label of a menu item.
    */    
    margin: -1em 0 0 10em;    
}
/*
    PLEASE NOTE: The <div> element used for a menu's shadow is appended 
    to its root element via JavaScript once it has been rendered.  The 
    code that creates the shadow lives in the menu's public "onRender" 
    event handler that is a prototype method of Rui.ui.Menu.  
    Implementers wishing to remove a menu's shadow or add any other markup
    required for a given skin for menu should override the "onRender" method.
*/
.L-menu-shadow {
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
.L-menu-shadow-visible {
    top: 2px;
    right: -3px;
    left: -3px;
    bottom: -3px;
    visibility: visible;
}
/*
There are two known issues with Rui.ui.Overlay (the superclass class of 
Menu) that manifest in Gecko-based browsers on Mac OS X:

    1) Elements with scrollbars will poke through Overlay instances floating 
       above them.
    
    2) An Overlay's scrollbars and the scrollbars of its child nodes remain  
       visible when the Overlay is hidden.

To fix these bugs in Menu (a subclass of Rui.ui.Overlay):

    1) The "overflow" property of a Menu instance's shadow element and child 
       nodes is toggled between "hidden" and "auto" (through the application  
       and removal of the "hide-scrollbars" and "show-scrollbars" CSS classes)
       as its "visibility" configuration property is toggled between 
       "false" and "true."
    
    2) The "display" property of <select> elements that are child nodes of the 
       Menu instance's root element is set to "none" when it is hidden.

PLEASE NOTE:  
  
    1) The "hide-scrollbars" and "show-scrollbars" CSS classes classes are 
       applied only for Gecko on Mac OS X and are added/removed to/from the 
       Overlay's root HTML element (DIV) via the "hideMacGeckoScrollbars" and 
       "showMacGeckoScrollbars" methods of Rui.ui.Overlay.
    
    2) There may be instances where the CSS for a web page or application 
       contains style rules whose specificity override the rules implemented by 
       the Menu CSS files to fix this bug.  In such cases, is necessary to 
       leverage the provided "hide-scrollbars" and "show-scrollbars" classes to 
       write custom style rules to guard against this bug.

** For more information on this issue, see:

   + https://bugzilla.mozilla.org/show_bug.cgi?id=187435
   + SourceForge bug #1723530
*/
.hide-scrollbars * {
    overflow: hidden;
}
.hide-scrollbars select {
    display: none;
}
/*
The following style rule (".L-ruimenu.show-scrollbars") overrides the 
".show-scrollbars" rule defined in container-core.css which sets the 
"overflow" property of a Rui.ui.Overlay instance's root HTML element to 
"auto" when it is visible.  Without this override, a Menu would have scrollbars
when one of its submenus is visible.
*/
.L-ruimenu.show-scrollbars,
.L-ruimenubar.show-scrollbars {
    overflow: visible; 
}
.L-ruimenu.hide-scrollbars .L-menu-shadow,
.L-ruimenubar.hide-scrollbars .L-menu-shadow {
    overflow: hidden;
}
.L-ruimenu.show-scrollbars .L-menu-shadow,
.L-ruimenubar.show-scrollbars .L-menu-shadow {
    overflow: auto;
}
.L-overlay.L-force-redraw {
   margin-bottom: 1px;
}

/*************기본스킨*******************/
/* MenuBar style rules */
.L-ruimenubar {
    background-color: #f6f7ee;    
}
/* Menu style rules */
.L-ruimenu {
    background-color: #f6f7ee;
    border: solid 1px #c4c4be;
    padding: 1px;    
}
.L-menu-shadow {
    display: none;
}
.L-ruimenu ul {
    border: solid 1px #c4c4be;
    border-width: 1px 0 0 0;
    padding: 10px 0;
}
.L-ruimenu .L-menu-body-scrolled {
    overflow: hidden;
}
/* Group titles */
.L-ruimenu h6,
.L-ruimenubar h6 { 
    font-size: 100%;
    font-weight: normal;
    border: solid 1px #c4c4be;
    color: #b9b9b9;    
}
.L-ruimenubar h6 {
    float: left;
    padding: 4px 12px;
    border-width: 0 1px 0 0;
}
.L-ruimenubar .L-ruimenu h6 {
    float: none;
}
.L-ruimenu h6 {
    border-width: 1px 0 0 0;
    padding: 5px 10px 0 10px;
}
.L-ruimenu ul.first-of-type, 
.L-ruimenu ul.hastitle,
.L-ruimenu h6.first-of-type {
    border-width: 0;
}

/* Top and bottom scroll controls */
.L-ruimenu .topscrollbar,
.L-ruimenu .bottomscrollbar {
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
}
.L-ruimenu .topscrollbar {
    background-image: url(../../resources/images/menu/menu_up_arrow.png);
}
.L-ruimenu .topscrollbar_disabled {
    background-image: url(../../resources/images/menu/menu_up_arrow_disabled.png);
}
.L-ruimenu .bottomscrollbar {
    background-image: url(../../resources/images/menu/menu_down_arrow.png);
}
.L-ruimenu .bottomscrollbar_disabled {
    background-image: url(../../resources/images/menu/menu_down_arrow_disabled.png);
}
/* MenuItem and MenuBarItem styles */
.L-ruimenuitem {
    /*
        For IE: Used to collapse superfluous white space between <li> elements
        that is triggered by the "display" property of the <a> elements being
        set to "block."
    */
    *border-bottom: solid 1px #f6f7ee;
}
.L-ruimenuitemlabel,
.L-ruimenubaritemlabel {
    font-size: 85%;
    color: #000;
    text-decoration: none;
}

.L-ruimenuitemlabel {
    padding: 2px 24px;    
}
.L-ruimenubaritemlabel {
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #c4c4be;
    padding: 4px 24px;
}
.L-ruimenubar li.first-of-type .L-ruimenubaritemlabel {
    border-width: 0;
}
.L-ruimenubaritem-hassubmenu {
    background: url(../../resources/images/menu/menubaritem_submenuindicator.png) right center no-repeat;
}
.L-ruimenuitem-hassubmenu {
    background: url(../../resources/images/menu/menuitem_submenuindicator.png) right center no-repeat;
}
.L-ruimenuitem-checked {
    background: url(../../resources/images/menu/menuitem_checkbox.png) left center no-repeat;
}
.L-ruimenuitemlabel .helptext {
    margin-top: -1.1em;
    *margin-top: -1.2em;  /* For IE*/    
}

/* MenuItem states */
/* Selected MenuItem */
.L-ruimenubaritem-selected,
.L-ruimenuitem-selected {
    background-color: #8c8ad0;
}
.L-ruimenubaritemlabel-selected,
.L-ruimenuitemlabel-selected {
    text-decoration: underline;
    color: #fff;
}
.L-ruimenubaritem-hassubmenu-selected {
    background-image: url(../../resources/images/menu/menubaritem_submenuindicator_selected.png);
}
.L-ruimenuitem-hassubmenu-selected {
    background-image: url(../../resources/images/menu/menuitem_submenuindicator_selected.png);
}
.L-ruimenuitem-checked-selected {
    background-image: url(../../resources/images/menu/menuitem_checkbox_selected.png);
}
/* Disabled MenuItem */
.L-ruimenubaritemlabel-disabled,
.L-ruimenuitemlabel-disabled {
    cursor: default;
    color: #b9b9b9;
}
.L-ruimenubaritem-hassubmenu-disabled {
    background-image: url(../../resources/images/menu/menubaritem_submenuindicator_disabled.png);
}
.L-ruimenuitem-hassubmenu-disabled {
    background-image: url(../../resources/images/menu/menuitem_submenuindicator_disabled.png);
}
.L-ruimenuitem-checked-disabled {
    background-image: url(../../resources/images/menu/menuitem_checkbox_disabled.png);
}