/* LScroller
------------------------------*/
.L-scroller {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.L-scroller .L-scroll {
    overflow: hidden;
}
.L-scroller .L-scroll .L-scroll-wrapper {
    border: 0px;
    /*overflow: auto;*/
    display: inline-block;
}
.L-scroller .L-scrollbar-y {
    width: 17px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: transparent;
    z-index: 2;
    position:absolute;
    top: 0px;
    right: 0px;
}
.L-scroller .L-scrollbar-x {
    height: 17px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: transparent;
    z-index: 2;
    position:absolute;
    left: 0px;
    bottom: 0px;
}
.L-scroller .L-scrollbar-y .L-scrollbar-y-content {
    width: 1px;
}
.L-scroller .L-scrollbar-x .L-scrollbar-x-content {
    height: 1px;
}