/* LTextBox
------------------------------*/
div.L-textbox {
}
.L-textbox-list-wrapper {
    position: absolute;     
    overflow-y: auto;
    height: auto; 
    max-height: 200px;
    z-index: 12000;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    width: 146px;
    cursor: pointer;
}
.list-wrapper {
    position: absolute;
    /*overflow: hidden;*/
    overflow-y:scroll;
    /*we should set height and max-height explicitly*/
    height: 200px; 
    max-height: 200px;
    /*should be always at the top*/
    z-index: 12000;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
}
.L-textbox-list-wrapper .selected, .L-textbox-list-wrapper .active {
    border: 1px solid #A5CBD6 !important;
}
.L-textbox-list-wrapper .active {
    border: 1px solid #AAAAA6;
}
.L-editor-panel div.L-textbox {
    vertical-align: top;
}
.L-editor-panel div.L-textbox input {
    height: 18px;
    border-color: #FFFFFF;
    background-color : #FFFFFF;
    padding: 0px;
    margin:0px;
    border:0px;
    vertical-align: top;
}
.L-placeholder {
	color: gray;
}
.L-inline-editor .L-textbox input {
	border: 0px;
}