/* LUnorderedList
------------------------------*/
/******************** HTML5 CSS3 normalization ********************/
.L-ul body {
    line-height:1;
}
.L-ul li {
	list-style: none;
}
.L-ul article, .L-ul aside, .L-ul dialog, .L-ul figure, .L-ul footer, .L-ul header, .L-ul hgroup, .L-ul nav, .L-ul section { 
    display:block;
}
.L-ul blockquote, .L-ul q {
    quotes:none;
}
.L-ul blockquote:before, .L-ul blockquote:after, .L-ul q:before, .L-ul q:after {
    content:'';
    content:none;
}
.L-ul a {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    background:transparent;
    line-height:normal;
}

.L-ul ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

.L-ul mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

.L-ul del {
    text-decoration: line-through;
}

.L-ul abbr[title], .L-ul dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

.L-ul table {
    border-collapse:collapse;
    border-spacing:0;
}

.L-ul hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

.L-ul input, .L-ul select {
    vertical-align:middle;
}
/**************** end normalization ******************/

.L-ul {
    margin:0;
    padding:0;
    overflow:auto;
}
.L-ul ul, .L-ul li {
    line-height:18px !important;
    margin:0;
    padding:0; 
}
.L-ul ul {
    margin-left:17px;
}
.L-ul-first {
    margin-left:0 !important;
}
.L-ul-node {
    padding:0;
}
.L-ul-hidden-node {
    display:none;
}

.L-ul .L-ul-li-depth-0 {
    outline: 0;
}