.L-button{
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:text-bottom;
}

.L-button .first-child{
    display:block;
    *display:inline-block;
}

.L-button button,.L-button a{
    display:block;
    *display:inline-block;
    border:none;
    margin:0;
}

.L-button button{
    background-color:transparent;
    *overflow:visible;
    cursor:pointer;
}

.L-button a{
    text-decoration:none;
}

.L-button{
    border-width:1px 0;
    border-style:solid;
    border-color:#808080;
    background:url(./../resources/skin/sam1/images/sprite.png) repeat-x 0 0;
    margin:auto .25em;
}

.L-button .L-button2 {
    border-width:1px 0;
    border-style:solid;
    border-color:#808080;
    background:url(./../resources/skin/sam1/images/sprite.png) repeat-x 0 -1300;
    margin:auto .25em;
}

.L-button .first-child{
    border-width:0 1px;
    border-style:solid;
    border-color:#808080;
    margin:0 -1px;
    *position:relative;
    *left:-1px;
    _margin:0;
    _position:static;
}

.L-button button,.L-button a{
    padding:0 10px;
    font-size:93%;
    line-height:2;
    *line-height:1.7;
    min-height:2em;
    *min-height:auto;
    color:#000;
}

.L-button a{
    *line-height:1.875;
    *padding-bottom:1px;
}

.L-button-focus{
    border-color:#7D98B8;
    background-position:0 -1300px;
}

.L-button-focus .first-child{
    border-color:#7D98B8;
}

.L-button-focus button,.L-button-focus a{
    color:#000;
}

.L-button-disabled{
    border-color:#ccc;
    background-position:0 -1500px;
}

.L-button-disabled .first-child{
    border-color:#ccc;
}

.L-button-disabled button,.L-button-disabled a{
    color:#A6A6A6;
    cursor:default;
}

