/* popup
---------------------------------------------------------*/
.popup_title_table{
	background-color: #778899;
	border:0px;
	width:"100%";
	height:12;
	color:white;
	font-weight:bold;
}

.popup_body {
	border:1px solid;
	border-color:#778899;
	background-color: white;
}

.title_table {
	height:25px;
	padding-right:5px;
	text-align:center;
	font-size:1em;
}

.error_wrap_s{
	width:100%;
}
.error_back{
	display:block;
	border:1px solid #ccc;
	vertical-align:middle;
	margin-bottom:5px;
}

.error_ttl_s{
	color:#C1325E;
	background:url("/images/bullet_error_s.gif") no-repeat 7px 0px;
	font-size:13px;
	padding:1px 7px 5px 30px;
	text-align:left;
}

.error_text{
	color:#555;
	border-top:1px solid #CCCCCC;
	padding:7px;
	text-align:left;
}

.bt:link{font-weight:bold;}
