
<div class="contents">
	<div class="sub-content">

		<div class="docu_box">
			<p class="txt">&nbsp;&nbsp;아래와 같이, 연구/개발과제의 GRS 심의결과를 보고드리오니, 검토 후 재가 부탁드립니다. </p>

			<div class="docu_con">
				<p class="txt2">- 아래 -</p>
				<h4>1. 일시, 장소 : ${evTitl}</h4>
				<h4>2. 참석자 : ${cfrnAtdtCdTxtNm}</h4>
				<h4>3. Agenda 및 심의결과</h4>
				<table class="table">
					<colgroup>
						<col style="width:10%;">
						<col style="width:20%;">
						<col style="width:;">
						<col style="width:10%;">
						<col style="width:10%;">
						<col style="width:10%;">
						<col style="width:10%;">
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2">심의<br>단계</th>
							<th rowspan="2">PJT</th>
							<th rowspan="2">과제명</th>
							<th rowspan="2">과제<br>책임자</th>
							<th rowspan="2">개발<br>유형</th>
							<th colspan="2">심의결과</th>
						</tr>
						<tr>
							<th>등급<br>평균</th>
							<th>결과</th>
						</tr>
					</thead>
					<tbody>
						${grsEvResult}
					</tbody>
				</table>

				<h4 class="mt20">4. 주요  Comment</h4>
			</div>
		</div>
	</div>

</div>



