<?xml version="1.0" encoding="UTF-8"?>

<configuration status="DEBUG">

    <Appenders>
        <!-- 콜솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyyMMddHHmmss.SSS}][%5p][%c] %m%n"/>
        </Console>

        <!-- 파일  -->
        <RollingFile name ="RollingFile">
            <FileName>C:/logs/irisi.out.log</FileName>
            <FilePattern>C:/logs/%d{yyyyMM}/irisi.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>[%d{yyyyMMddHHmmss.SSS}][%5p][%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
            </Policies>
        </RollingFile>

        <RollingFile name ="RollingFileError">
            <FileName>C:/logs/irisi.out.error.log</FileName>
            <FilePattern>C:/logs/%d{yyyyMM}/irisi.log.error.zip</FilePattern>
            <PatternLayout>
                <Pattern>[%d{yyyyMMddHHmmss.SSS}][%5p][%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <!-- <loggers>
        <root level="debug" additivity="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </root>
    </loggers> -->

    <Loggers>
        <root level="debug" additivity="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </root>

        <Logger name="java.sql" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <!-- <Logger name="nmem" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Logger name="nmem.cmm.interceptor.CmmInterceptor" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger> -->
          <!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="warn" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Logger name="jdbc.sqlonly" level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Logger name="jdbc.audit" level="warn" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Logger name="jdbc.resultset" level="warn">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Logger name="jdbc.resultsettable" level="warn">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Logger name="jdbc.connection" level="warn">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
    </Loggers>

</configuration>