<div class="contents">
	<h5>자산이관 정보</h5>

	<table class="table table_txt_right">    
		<thead>
			${fxaTrsfHead}  
		</thead>
		<tbody>
			${fxaTrsfList}  
		</tbody>                               	
	</table>
	
	
</div>