@charset "utf-8";
@import url(common.css);

/* [20241113.siseo]DB(DEV, PROD)에 따라 TOP 색상 변경 설정 */
/* 헤더 */
.header {
    z-index:99;
    background-color: lightgreen;
}

.gnb_height {
    background-color: lightgreen;
}
