<div class="contents">
    <h3>의뢰정보</h3>
        <table class="table table_txt_right">
            <colgroup>
                <col width="15%" />
                <col width="35%" />
                <col width="15%" />
                <col width="35%" />
            </colgroup>
            <tbody>
                <tr>
                    <th>분석명</th>
                    <td class="txt_layout">${anlNm}</td>
                    <th>접수번호</th>
                    <td class="txt_layout">${acpcNo}</td>
                </tr>
                <tr>
                    <th>분석목적</th>
                    <td colspan="3" class="txt_layout">${anlSbc}</td>
                </tr>
                <tr>
                    <th>의뢰자</th>
                    <td class="txt_layout">${rgstNm}</td>
                    <th>부서</th>
                    <td class="txt_layout">${rqprDeptNm}</td>
                </tr>
                <tr>
                    <th>작성일</th>
                    <td class="txt_layout">${rqprDt}</td>
                    <th>접수일</th>
                    <td class="txt_layout">${acpcDt}</td>
                </tr>
                <tr>
                    <th>완료예정일</th>
                    <td class="txt_layout">${cmplParrDt}</td>
                    <th>완료일</th>
                    <td class="txt_layout"></td>
                </tr>
                <tr>
                    <th>분석구분</th>
                    <td class="txt_layout">${anlScnNm}</td>
                    <th>분석담당자</th>
                    <td class="txt_layout">${anlChrgNm}</td>
                </tr>
                <tr>
                    <th>긴급유무</th>
                    <td class="txt_layout">${anlUgyYnNm}</td>
                    <th>통보유형</th>
                    <td class="txt_layout">${infmTypeNm}</td>
                </tr>
                <tr>
                    <th>시료처리</th>
                    <td class="txt_layout">${smpoTrtmNm}</td>
                    <th>통보자</th>
                    <td class="txt_layout">${anlRqprInfmView}</td>
                </tr>
            </tbody>
        </table>
        <br/>
    <h3>실험결과</h3>
        <table class="table">
            <colgroup>
                <col width="60%" />
                <col width="12%" />
                <col width="12%" />
                <col width="16%" />
            </colgroup>
            <thead>
                <tr>
                    <th>실험명</th>
                    <th>시료수</th>
                    <th>실험시간</th>
                    <th>수가</th>
                </tr>
            </thead>
            <tbody>
            	${anlRqprExprList}
            </tbody>
        </table>
        <br/>
    <h3>분석결과</h3>
        <table class="table">
            <colgroup>
                <col width="15%" />
                <col width="*" />
            </colgroup>
            <tbody>
                <tr>
                    <th>분석결과</th>
                    <td class="txt_layout">${anlRsltSbc}</td>
                </tr>
                <tr>
                    <th>분석결과서</th>
                    <td class="txt_layout">${rsltAttachFileList}</td>
                </tr>
            </tbody>
        </table>
        <br/>
    <h3>시료정보</h3>
        <table class="table">
            <colgroup>
                <col width="30%" />
                <col width="20%" />
                <col width="45%" />
                <col width="5%" />
            </colgroup>
            <thead>
                <tr>
                    <th>시료명</th>
                    <th>제조사</th>
                    <th>모델명</th>
                    <th>수량</th>
                </tr>
            </thead>
            <tbody>
            	${anlRqprSmpoList}
            </tbody>
        </table>
    
   <!-- 가로 2개 테이블  start -->
    <div class="wrap">
	   <div class="table04">
           <!-- left table contents start -->
            <h3>관련분석</h3>
                <table class="table">
                    <colgroup>
                        <col width="15%" />
                        <col width="*" />
                        <col width="15%" />
                        <col width="15%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>접수번호</th>
                            <th>분석명</th>
                            <th>의뢰자</th>
                            <th>분석담당자</th>
                        </tr>
                    </thead>
                    <tbody>
                    	${anlRqprRltdList}
                    </tbody>
                </table>
           <!-- left table contents end -->
       </div>
	   <div class="table05">
           <!-- right table contents start --> 
            <h3>시료사진/첨부파일</h3>
                <table class="table">
                    <colgroup>
                        <col width="5%" />
                        <col width="*" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>파일명</th>
                        </tr>
                    </thead>
                    <tbody>
                    	${rqprAttachFileList}
                    </tbody>
                </table>
            <!-- right table contents end -->
        </div>
    </div>
    <!-- 가로 2개 테이블 end -->
</div>