#wrap {
    height: 100%;
    position: relative;
}

.ux-content-wrap {
    position: relative;
}

.ux-search-wrap {
	margin-top: 13px;
    height: 105px;
    position: relative;
    text-align: center;
}

.ux-search-wrap .L-datebox {
    text-align: left;
}

.newtitle-container {
	position: relative;
    width: 100%;
    height: 24px;
    overflow: hidden;
}

.newtitle-line{
    position: absolute;
    margin-top: 50px;
    margin-left: 133px;
    width: 83%;
    height: 2px;
    background-color: gray;
    display: table;
}

.newtitle-container {
    position: absolute;
    margin-top: 40px;
    margin-left:25px;
    background-color:#6495ED;
    display: table;
    width: 93px;
    height: 24px;
    background: url(./assets/ordermng/title_manageOrder.png) no-repeat top;
}
.newtitle-container-all {
    position: relative;
    height: 52px;
}

#tabView1 {
	margin-top: 52px;
}

.L-navset .L-content {
    padding: 0 15px 0 15px;
}
#tabView2, #tabView3 {
    margin-top: 15px;
}

#tabView2 input, #tabView3 input {
    width: 100%;
    border: 0px;
}

.grid1-title-buttons {
    position: absolute;
    right: 0px;
    width: 20px;
    margin-top: 15px;
}

.grid1-title-buttons a {
    display: inline-block;
    *display: inline;
    *zoom: 100%;
}

.L-grid-summary-depth-0 {
    background-color: #ffffb3;
}

.L-navset .L-nav li a { 
    border-top: 2px solid #bababa;
    border-left: 2px solid #bababa;
    border-right: 2px solid #bababa;
    border-bottom: 2px solid #fff;
    margin-bottom: 2px;
    text-align: center;
    color: #222222;
    text-decoration: none;
}
.L-navset .L-nav li a:hover {
    color: #222222;
}
 .L-navset .L-content {
    margin-top: -2px; 
    border-top: 2px solid #c5003d;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
 }
.L-navset .L-nav, 
.L-navset .L-nav li {
    margin-left: 5px;
}
.L-nav-selected {
    border: 2px solid #c5003d;
    border-bottom-color: #fff;
}
.L-navset .L-nav li.L-nav-selected a {
    border: 0px;
}


.searchPanelWrap {
    min-width: 1000px;
    width: 100%;
}

.searchBox {
    background: #f7f6f7;
    width: 100%;
    border : 1px solid #c5c5c5;
    padding: 6px 13px;
}

.searchBox .search-last {
    text-align: right;
}

.searchBox th, .searchBox td {
	padding: 2px;
}

.searchBox th {
	width: 50px;
	text-align: right;
}

.ux-search-wrap .search-btn {
	background: url(./assets/ordermng/btn_search.png) no-repeat top;
	height: 22px;
	width: 45px;
	border: 0px;
	overflow: hidden;
	cursor: pointer;
}

.ux-search-wrap .search-btn:hover {
	background: url(./assets/ordermng/btn_search_mouseover.png) no-repeat top;
}

.ux-search-wrap .search-btn button {
	margin-left: 50px;
}

/* L-calender
---------------------------------------------------------*/
.L-calcontainer {
    background-color:#fff;
    border: 1px solid #BCBCBC;
}
.L-calcontainer .L-title {
    font-family: tahoma,sans-serif;
    background: none;
    background-color: #c5003d;
    color: #fff;
}
.L-calcontainer .L-calclose {
    background: url(./../../../../resources/images/container/popup_close_icon.png) no-repeat;
    width: 13px;
    height: 13px;
    right: 10px;
}
.L-calendar {
    font-family: tahoma,sans-serif;
    font-size: 12px;
}
.L-calendar .L-calnavyearleft {
    background:url(./../../../../resources/images/calendar/prev_year.png) no-repeat;
    width:12px;
    height:11px;
    top:11px;
    left: 2px;
}
.L-calendar .L-calnavyearright {
    background:url(./../../../../resources/images/calendar/next_year.png) no-repeat;
    width:12px;
    height:11px;
    top:11px;
    right: 2px;
}
.L-calendar .L-calnavleft {
    background:url(./../../../../resources/images/calendar/prev_month.png) no-repeat;
    width:7px;
    height:11px;
    top:11px;
    left: 19px;
}
.L-calendar .L-calnavright {
    background:url(./../../../../resources/images/calendar/next_month.png) no-repeat;
    width:7px;
    height:11px;
    top:11px;
    right: 19px;
}
.L-calendar .L-calweekdayrow {
    height: 9px;
    border-top: 2px solid #c5003d;
}
.L-calendar .L-calweekdaycell {
    color:#fff;
    font-weight:bold;
    text-align:center;
    width:2em;
}
.L-calendar a.L-calnav { 
    border: 0;
}
.L-calendar td.wd0 { 
    background-color:#fff; 
}
.L-calendar td.wd0 a { 
    color: #ae0000; 
}
.L-calendar td.wd6 { 
    background-color:#fff; 
}
.L-calendar td.wd6 a { 
    color: #00588b;
}
.L-calendar div.L-calheader span.year { 
    font-family: tahoma,sans-serif;
    font-size: 15px;
    vertical-align: middle;
    color: #666565;
    display: inline-block;
    width: 36px;
}   
.L-calendar div.L-calheader span.year-suffix { 
    display: none;
}
.L-calendar div.L-calheader span.month { 
    font-family: tahoma,sans-serif;
    font-size: 28px;
    vertical-align: middle;
    color: #313131;
    display: inline-block;
    width: 36px;
    margin-left: 10px;
}
.L-calendar div.L-calheader span.month-suffix { 
    display: none;
}
.L-calendar td.L-calcell {
    border: 0;
}
.L-calendar td.L-calcell.oom {
    background-color:#fff;
    color:#fff;
    cursor:default;
}
.L-calendar td.L-calcell.selected a {
    background-color:#c5003d;
    color:#fff;
}
.L-calendar td.L-calcell.L-calcellhover {
    background-color:#6d0022;
}
.L-calendar td.L-calcell.L-calcellhover a {
    background-color: #c5003d;
    color:#fff;
}
.L-calendar td.L-calcell.today {
    background-color:#6d0022;
}
.L-calendar td.L-calcell.highlight1 { background-color:#df7294; }
.L-calendar td.L-calcell.highlight2 { background-color:#d64c77; }
.L-calendar td.L-calcell.highlight3 { background-color:#a80034; }
.L-calendar td.L-calcell.highlight4 { background-color:#8a002b; }

.buttons button {
    height: 22px;
    width: 45px;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
}

.expandSearchBar {
    width: 100px;
    height: 15px;
    display: inline-block;
    *display: inline;
    *zoom: 100%;
    background:#fff url(./assets/ordermng/search_up.png) no-repeat top;
    
}

#tabView2 .L-navset .L-content, #tabView3 .L-navset .L-content {
    padding-top: 22px;
}
 
.input-table {
	width: 100%;
	border: 1px solid #c5c5c5;
	border-collapse: collapse;
}

.input-table th, .input-table td {
	border: 1px solid #c5c5c5;
	padding: 4px 8px;
}
.input-table th {
	text-align: right;
	background-color: #f5f5f5;
	width: 163px;
}

.L-navset .L-nav li em {
	padding: .5em 2em;
}