<div class="contents">
    <h4>의뢰정보</h4>
        <table class="table table_txt_right">
            <colgroup>
                <col width="15%" />
                <col width="35%" />
                <col width="15%" />
                <col width="35%" />
            </colgroup>
            <tbody>
                <tr>
                    <th>시험명</th>
                    <td class="txt_layout" colspan="3">${rlabNm}</td>
                </tr>
                <tr>
                    <th>시험목적</th>
                    <td colspan="3" class="txt_layout">${rlabSbc}</td>
                </tr>
                <tr>
                    <th>시험구분</th>
                    <td class="txt_layout">${rlabScnNm}</td>
                    <th>긴급유무</th>
                    <td class="txt_layout">${rlabUgyYnNm}</td>
                </tr>
                <tr>
                    <th>통보유형</th>
                    <td class="txt_layout">${infmTypeNm}</td>
                    <th>시험담당자</th>
                    <td class="txt_layout">${rlabChrgNm}</td>
                </tr>
                <tr>
                    <th>시료처리</th>
                    <td class="txt_layout">${smpoTrtmNm}</td>
                    <th></th>
                    <td class="txt_layout"></td>
                </tr>
                <tr>
                    <th>통보자</th>
                    <td class="txt_layout" colspan="3">${rlabRqprInfmView}</td>
                </tr>
            </tbody>
        </table>
        <br/>
    <h4>시료정보</h4>
        <table class="table">
            <colgroup>
                <col width="30%" />
                <col width="20%" />
                <col width="45%" />
                <col width="5%" />
            </colgroup>
            <thead>
                <tr>
                    <th>시료명</th>
                    <th>제조사</th>
                    <th>모델명</th>
                    <th>수량</th>
                </tr>
            </thead>
            <tbody>
            	${rlabRqprSmpoList}
            </tbody>
        </table>

   <!-- 가로 2개 테이블  start -->
    <div class="wrap">
	   <div class="table04">
           <!-- left table contents start -->
            <h4>관련시험</h4>
                <table class="table">
                    <colgroup>
                        <col width="15%" />
                        <col width="*" />
                        <col width="15%" />
                        <col width="15%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>접수번호</th>
                            <th>시험명</th>
                            <th>의뢰자</th>
                            <th>시험담당자</th>
                        </tr>
                    </thead>
                    <tbody>
                    	${rlabRqprRltdList}
                    </tbody>
                </table>
           <!-- left table contents end -->
       </div>
	   <div class="table05">
           <!-- right table contents start -->
            <h4>시료사진/첨부파일</h4>
                <table class="table">
                    <colgroup>
                        <col width="5%" />
                        <col width="*" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>파일명</th>
                        </tr>
                    </thead>
                    <tbody>
                    	${rqprAttachFileList}
                    </tbody>
                </table>
            <!-- right table contents end -->
        </div>
    </div>
    <!-- 가로 2개 테이블 end -->
</div>