@charset "UTF-8";
/* dbays UI Team (http://dbays.com/) author : Hyun Young Bea 20100511 */ 



html {
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	line-height: 150%;
	color: #6f6f6f;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url('../img/ko/head_bg.gif') repeat-x left top;
}

body, div, p, ul, ol, li, a, table, td, tr, h1, h2, h3, h4, h5, h6, form, span, iframe, select {
	margin: 0;
	padding: 0;
	font-family: dotum, Arial, Helvetica, sans-serif;
}

img {
	border: 0;
	vertical-align: top;
	padding: 0;
}

table, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 120%;	
	/*
	word-wrap: break-word;
	word-break: break-all;
	*/
}

th {
	font-weight: bold;
	text-align: center;
}
/*
h1, h2, h3 {
	display:none;
}
*/
h1, h2, h3, h4, h5 ,h6 {
	line-height: 150%;
}

h1 {font-size: 200%;}
h2 {font-size: 180%;}
h3 {font-size: 200%;}
h4 {font-size: 140%; width:100%;}
h5 {font-size: 120%;}
h6 {font-size: 100%;}

a { 
	font-size: 100%;
	line-height: 150%;
}

a:link, a:visited {
	color: #6f6f6f;
	text-decoration: none;
}

a:active, a:hover {
	color: #282828;
	text-decoration: underline;
}

div { 
	font-size: 100%;
}

ul, ol { 
	font-size: 100%;
	list-style: none;
}

li {	
	font-size: 100%; 
	line-height: 150%;
}

dl, dt, dd {
	margin: 0;
	padding: 0;
}

p {
	font-size: 100%;
	line-height: 150%;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}
legend {
	position:absolute; 
	width:0; 
	height:0; 
	font-size:0; 
	line-height:0; 
	overflow:hidden; 
	visibility:hidden;
}

label {
	display: inline;
}

hr, .display_n { 
	display: none;
}

caption {
	position:absolute;
	width:0; 
	height:0; 
	font-size:0; 
	line-height:0; 
	overflow:hidden; 
	visibility:hidden;
}

span.button, 
img.button, 
a.button {
	/*cursor: pointer;*/
	vertical-align: middle;
}

.fl {
	float: left;
}

.ml20 {
	margin-left: 20px;
}

.ml15 {
	margin-left: 15px;
}

.ml10 {
	margin-left: 10px;
}

.ml5 {
	margin-left: 5px;
}

.mr15 {
	margin-right: 15px;
}

.mr10 {
	margin-right: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb5 {
	margin-bottom: 5px;
}

.mt20 {
	margin-top: 20px;	
}

.mt15 {
	margin-top: 15px;	
}
.mt10 {
	margin-top: 10px;	
}

.tc {
	text-align: center;
}

.hide {
	visibility: hidden;
	width: 0;
	height: 0;
}

.dis_inline {
	display: inline;	
}

.red {
	color: #c6004d;	
}