<div class="contents">
    <h3>의뢰정보</h3>
        <table class="table table_txt_right">
            <colgroup>
                <col width="15%" />
                <col width="35%" />
                <col width="15%" />
                <col width="35%" />
            </colgroup>
            <tbody>
            	<tr>
                    <th>평가명</th>
                    <td class="txt_layout" colspan="3">${spaceNm}</td>
                </tr>
                <tr>
                    <th>평가목적</th>
                    <td colspan="3" class="txt_layout">${spaceSbc}</td>
                </tr>
                <tr>
                    <th>의뢰자</th>
                    <td class="txt_layout">${rgstNm}</td>
                    <th>부서</th>
                    <td class="txt_layout">${rqprDeptNm}</td>
                </tr>
                <tr>
                    <th>작성일</th>
                    <td class="txt_layout">${rqprDt}</td>
                    <th>접수일</th>
                    <td class="txt_layout">${acpcDt}</td>
                </tr>
                <tr>
                    <th>완료예정일</th>
                    <td class="txt_layout">${cmplParrDt}</td>
                    <th>완료일</th>
                    <td class="txt_layout"></td>
                </tr>
                <tr>
                    <th>평가구분</th>
                    <td class="txt_layout">${spaceScnNm}</td>
                    <th>긴급유무</th>
                    <td class="txt_layout">${spaceUgyYnNm}</td>
                </tr>
                <tr>
                    <th>통보자</th>
                    <td class="txt_layout" colspan="3">${spaceRqprInfmView}</td>
                </tr>
            </tbody>
        </table>
        <br/>
    <h3>실험결과</h3>
        <table class="table">
            <colgroup>
                <col width="60%" />
                <col width="12%" />
                <col width="12%" />
                <col width="16%" />
            </colgroup>
            <thead>
                <tr>
                    <th>실험명</th>
                    <th>시료수</th>
                    <th>실험시간</th>
                    <th>수가</th>
                </tr>
            </thead>
            <tbody>
            	${spaceRqprExatList}
            </tbody>
        </table>
        <br/>
    <h3>평가결과</h3>
        <table class="table">
            <colgroup>
                <col width="15%" />
                <col width="*" />
            </colgroup>
            <tbody>
                <tr>
                    <th>평가결과</th>
                    <td class="txt_layout">${spaceRsltSbc}</td>
                </tr>
                <tr>
                    <th>평가결과서</th>
                    <td class="txt_layout">${rsltAttachFileList}</td>
                </tr>
            </tbody>
        </table>
        <br/>
    <h3>평가방법</h3>
        <table class="table">
            <colgroup>
                <col width="35%" />
                <col width="35%" />
                <col width="30%" />
            </colgroup>
            <thead>
                <tr>
                    <th>평가카테고리</th>
                    <th>평가항목</th>
                    <th>담당자</th>
                </tr>
            </thead>
            <tbody>
            	${spaceRqprWayCrgrList}
            </tbody>
        </table>
        <br/>
    <h3>제품군</h3>
        <table class="table">
            <colgroup>
                <col width="35%" />
                <col width="35%" />
                <col width="30%" />
            </colgroup>
            <thead>
                <tr>
                    <th>평가카테고리</th>
                    <th>평가항목</th>
                    <th>담당자</th>
                </tr>
            </thead>
            <tbody>
            	${spaceRqprProdList}
            </tbody>
        </table>
        <br/>
    <h3>평가대상 정보</h3>
        <table class="table table_txt_right">
            <colgroup>
                <col width="15%" />
                <col width="35%" />
                <col width="15%" />
                <col width="35%" />
            </colgroup>
            <tbody>
                <tr>
                    <th>평가대상명</th>
                    <td class="txt_layout" colspan="3">${evSubjNm}</td>
                </tr>
                <tr>
                    <th>제출처</th>
                    <td colspan="3" class="txt_layout">${sbmpNm}</td>
                </tr>
                <tr>
                    <th>정량지표</th>
                    <td class="txt_layout">${qtasDpst}</td>
                    <th>정성지표</th>
                    <td class="txt_layout">${qnasDpst}</td>
                </tr>
                <tr>
                    <th>목표성능</th>
                    <td class="txt_layout">${goalPfmc}</td>
                    <th>결과지표</th>
                    <td class="txt_layout">${rsltDpst}</td>
                </tr>
                <tr>
                    <th>평가 cases</th>
                    <td class="txt_layout">${evCases}</td>
                    <th>평가대상 상세</th>
                    <td class="txt_layout">${evSubjDtl}</td>
                </tr>
            </tbody>
        </table>

   <!-- 가로 2개 테이블  start -->
    <div class="wrap">
	   <div class="table04">
           <!-- left table contents start -->
            <h3>관련평가</h3>
                <table class="table">
                    <colgroup>
                        <col width="15%" />
                        <col width="*" />
                        <col width="15%" />
                        <col width="15%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>접수번호</th>
                            <th>평가명</th>
                            <th>의뢰자</th>
                            <th>평가담당자</th>
                        </tr>
                    </thead>
                    <tbody>
                    	${spaceRqprRltdList}
                    </tbody>
                </table>
           <!-- left table contents end -->
       </div>
	   <div class="table05">
           <!-- right table contents start -->
            <h3>시료사진/첨부파일</h3>
                <table class="table">
                    <colgroup>
                        <col width="5%" />
                        <col width="*" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>파일명</th>
                        </tr>
                    </thead>
                    <tbody>
                    	${rqprAttachFileList}
                    </tbody>
                </table>
            <!-- right table contents end -->
        </div>
    </div>
    <!-- 가로 2개 테이블 end -->
</div>