/*
 * @(#) rui.css
 * build version : 2.2 $Revision: 19574 $
 *  
 * Copyright ⓒ LG CNS, Inc. All rights reserved.
 *
 * devon@lgcns.com
 * http://www.dev-on.com
 *
 * Do Not Erase This Comment!!! (이 주석문을 지우지 말것)
 *
 * rui2/license.txt를 반드시 읽어보고 사용하시기 바랍니다. License.txt파일은 절대로 삭제하시면 않됩니다. 
 *
 * 1. 사내 사용시 KAMS를 통해 요청하여 사용허가를 받으셔야 소프트웨어 라이센스 계약서에 동의하는 것으로 간주됩니다.
 * 2. DevOn RUI가 포함된 제품을 판매하실 경우에도 KAMS를 통해 요청하여 사용허가를 받으셔야 합니다.
 * 3. KAMS를 통해 사용허가를 받지 않은 경우 소프트웨어 라이센스 계약을 위반한 것으로 간주됩니다.
 * 4. 별도로 판매될 경우는 LGCNS의 소프트웨어 판매정책을 따릅니다. (KAMS에 문의 바랍니다.)
 *
 * (주의!) 원저자의 허락없이 재배포 할 수 없으며
 * LG CNS 외부로의 유출을 하여서는 안 된다.
 * 
 * 이 CSS 파일은 RichUI의 중요 파일중 하나로 지속적인 기능개선과 버그등의 수정에 따라 언제든 패치되고 있으므로
 * 이 파일을 이용하여 디자인을 변경할 경우 정상적인 디자인을 보장할 수 없습니다.
 * RichUI의 디자인을 변경하고자 할 경우 별도 제공되는 rui_skin.css 또는 별도의 CSS 파일을 추가하여 이용하세요.
 * 
 * RichUI 디자인 변경은 반드시 RichUI의 디자인 가이드에 따라야 하며, 디자인 가이드 문서 및 교육 절차가 있습니다.
 * 지금 RichUI 담당자에게 문의 하세요. 
 */
/* LRui
------------------------------*/

.L-lcl-container {
    float:right;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    z-index: 10000;
}

.L-ux-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
}


select {

}
input[type=text], input[type=password], input[type=month], input[type=date], input[type=time], input[type=email] {

    padding: 2px;
    margin: 0px;
}
input[type=text], input[type=password], input[type=month], input[type=date], input[type=time], input[type=email], select, textarea {
    border: 1px solid #999999;
}
input[type=text].L-invalid, select.L-invalid, textarea.L-invalid {
    border: 1px solid #dd7870;
}
.L-disabled {
    cursor: default;
}
input[type=text].L-disabled, textarea.L-disabled, select.L-disabled {
    border: 1px solid #BCBDC0;
    color: #BCBDC0;
}
.L-disable-mask {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 100%;
    _height: expression(parentNode.offsetHeight);
}
.L-hidden {
    position:absolute !important;
    left:-10000px !important;
    top:-10000px !important;
    visibility:hidden !important;
}
.L-hide-display {
	display:none !important;
}
.L-hide-visibility {
    visibility:hidden !important;
}
.L-block-display {
    display: block !important;
    position: relative !important;
}
.L-elementCenter {
	position : inherit;
	margin: 0 auto;
}
.L-masked {
    background-color: gray;
    opacity: .3;
    -moz-opacity: 0.3;
    filter: alpha(opacity=20);
    width: 100%;
    height: 100%;
    _height: expression(parentNode.offsetHeight);
}
.L-masked-panel {
    position : absolute;
    z-index:100;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    _height: expression(parentNode.offsetHeight);
}
.L-masked-message {

    display: inline;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 46%;
    width: 100px;
    height: 100px;
}
.L-toast {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    top: 300px;
    margin: 0;
    position: absolute;
    text-align: center;
    min-width: 300px;
    max-width: 600px;
    z-index: 2;
}
.L-toast-inner {
    margin: 10px 10px;
    white-space: pre;
    color: #000;
}



.L-bind-disabled {
}



.L-button {
    display: -moz-inline-box;  
    display: inline-block;  
}
.L-button button {
    display: block;
    *display: inline-block;  
    margin: 0;
    border: 1px solid #999999;
    background-color: #fff;
    *overflow: visible;  
    cursor: pointer;
}
.L-button .first-child {
    display: block;
    *display: inline-block;  
}
.L-button.L-disabled button {
    cursor: default;
    border: 1px solid #BCBDC0;
    color: #BCBDC0;
}


.L-popup-button {
    float:left;
}
.L-popup-button-icon {
    width:17px;
    height:17px;
    border: 0;
    background:transparent url(./images/button/popup.png) no-repeat 0 0;
    cursor:pointer;
    top:0px;
    right: 0px;
    float:right;
}


.L-overlay {
    position:absolute;
    z-index: 2;
}
* html div.L-panel-container select {
    visibility:inherit;
}
* html div.drag select {
    visibility:hidden;
}
* html body.masked select {
    visibility:hidden;
}
* html div.hide-select select {
    visibility:hidden;
}
.mask {
    z-index: 1; 
    display:none;
    position:absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
    background-color:#CCC;
}
.hide-scrollbars,
.hide-scrollbars * {
    overflow: hidden;
}
.hide-scrollbars select {
    display: none;
}
.show-scrollbars {
    overflow: auto;
}
.L-panel-container.show-scrollbars {
    overflow: visible;
}
.L-panel-container.show-scrollbars .underlay {
    overflow: auto;
}
.L-panel-container.focused {
}

.L-panel-container .underlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.L-panel-container.matte {
    padding: 3px;
    background-color: #fff;
}
.L-panel-container.shadow .underlay {
    top: 3px;
    bottom: -3px;
    right: -3px;
    left: 3px;
    background-color: #000;
    opacity: .12;
    filter: alpha(opacity=12);   
}
.L-panel-container.shadow .underlay.L-force-redraw {
    padding-bottom: 1px;
}
.L-effect-fade .underlay {
    display:none;
}
.L-panel {

    border-collapse:separate;
    position:relative;
    background-color:#FFF;
    border:1px solid #000;
    z-index:1;
    overflow:hidden;
}
.L-panel .hd {
    background-color:#3d77cb;
    color:#FFF;
    border:1px solid #FFF;
    border-bottom:1px solid #000;
    font-weight:bold;
    padding:4px;
    white-space:nowrap;
}
.L-panel .bd {
    overflow:hidden;
    padding:4px;
}
.L-panel .bd p {
}
.L-panel .container-close {
    position:absolute;
    top:7px;
    right:7px;
    z-index:6;
    height:12px;
    width:12px;
    margin:0px;
    padding:0px;
    background:url(./images/container/close12_1.gif) no-repeat;
    cursor:pointer;
    visibility:inherit;
    text-indent:-10000em;
    overflow:hidden;
    text-decoration:none;
}
.L-panel .ft {
    padding:4px;
    overflow:hidden;
}

.L-override-padding {
    padding:0 !important;
}
.L-panel-container {
    position:absolute;
    z-index: 2;
}



.L-dialog {
	box-shadow: 5px 5px 5px gray;	
}
.L-dialog .ft {
    padding-bottom:5px;
    padding-right:5px;
    text-align:right;
}
.L-dialog form {
    margin:0;
}
.button-group button {
    margin: 2px;
}
.L-excel-dialog {
	z-index: 10000;
}
.L-excel-dialog .bd {
	padding: 4px 10px;
}


.L-simple-dialog .bd {
    padding: 10px;
}
.L-simple-dialog .bd .L-icon {
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    margin-right:10px;
    float:left;
}

.L-simple-dialog .bd span.blckicon {
    background: url("./images/container/blck16_1.gif") no-repeat;
}

.L-simple-dialog .bd span.alrticon {
    background: url("./images/container/alrt16_1.gif") no-repeat;
}

.L-simple-dialog .bd span.hlpicon {
    background: url("./images/container/hlp16_1.gif") no-repeat;
}

.L-simple-dialog .bd span.infoicon {
    background: url("./images/container/info16_1.gif") no-repeat;
}

.L-simple-dialog .bd span.warnicon {
    background: url("./images/container/warn16_1.gif") no-repeat;
}

.L-simple-dialog .bd span.tipicon {
    background: url("./images/container/tip16_1.gif") no-repeat;
}

.L-simple-dialog .ft {
    padding-bottom:5px;
    padding-right:5px;
    text-align:right;
}

.L-simple-dialog form {
    margin:0;
}



.L-wait-panel .L-masked-message {
    background:transparent url(./images/grid/waiticon.gif) no-repeat 0 0;
}


.L-scroller {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.L-scroller .L-scroll {
    overflow: hidden;
}
.L-scroller .L-scroll .L-scroll-wrapper {
    border: 0px;

    display: inline-block;
}
.L-scroller .L-scrollbar-y {
    width: 17px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: transparent;
    z-index: 2;
    position:absolute;
    top: 0px;
    right: 0px;
}
.L-scroller .L-scrollbar-x {
    height: 17px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: transparent;
    z-index: 2;
    position:absolute;
    left: 0px;
    bottom: 0px;
}
.L-scroller .L-scrollbar-y .L-scrollbar-y-content {
    width: 1px;
}
.L-scroller .L-scrollbar-x .L-scrollbar-x-content {
    height: 1px;
}



.L-calcontainer {
    position:relative;
    float:left;
    _overflow:hidden;  
}

.L-calcontainer iframe {
    position:absolute;
    border:none;
    margin:0;padding:0;
    z-index:0;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
}

.L-calcontainer iframe.fixedsize {
    *width:50em;
    *height:50em;
    top:-1px;
    left:-1px;
}

.L-calcontainer.L-multi .groupcal {
    z-index:1;
    float:left;
    position:relative;
}

.L-calcontainer .L-title {
    position:relative;
    z-index:1;
}

.L-calcontainer .close-icon {
    position:absolute;
    z-index:1;
    text-indent:-10000em;
    overflow:hidden;
}

.L-calendar {
    position:relative;
}

.L-calendar .L-calnavleft, .L-calendar .L-calnavyearleft {
    position:absolute;
    z-index:1;
    text-indent:-10000em;
    overflow:hidden;
}

.L-calendar .L-calnavright, .L-calendar .L-calnavyearright {
    position:absolute;
    z-index:1;
    text-indent:-10000em;
    overflow:hidden;
}

.L-calendar .L-calheader {
    position:relative;
    width:100%;
    text-align:center;
}

.L-calcontainer .L-cal-nav-mask {
    position:absolute;
    z-index:2;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    _width:0;     
    _height:0;
    left:0;
    top:0;
    display:none;
}

.L-calcontainer .L-cal-nav {
    position:absolute;
    z-index:3;
    top:0;
    display:none;
}

.L-calendar .L-calbody a:hover {background:inherit;}
p#clear {clear:left; padding-top:10px;}



.L-calcontainer {
    background-color:#f2f2f2;
    border:1px solid #808080;
    padding:10px;
}

.L-calcontainer.L-multi {
    padding:0 5px 0 5px;
}

.L-calcontainer.L-multi .groupcal {
    background-color:transparent;
    border:none;
    padding:10px 5px 10px 5px;
    margin:0;
}

.L-calcontainer .L-title {
    background:url(./images/calendar/sprite.png) repeat-x 0 0;
    border-bottom:1px solid #cccccc;
    color:#000;
    font-weight:bold;
    height:auto;
    padding:.4em;
    margin:0 -10px 10px -10px;
    top:0;
    left:0;
    text-align:left;
}
.L-calcontainer.L-multi .L-title {
    margin:0 -5px 0 -5px;
}
.L-calcontainer.withtitle {
    padding-top:0;
}

.L-calcontainer .L-calclose {
    background:url(./images/calendar/sprite.png) no-repeat 0 -300px;
    width:25px;
    height:15px;
    top:.4em;
    right:.4em;
    cursor:pointer;
}

.L-calendar {
    border-spacing:0;
    border-collapse:collapse;
    text-align:center;
    margin:0;
}

.L-calendar .L-calhead {
    background:transparent;
    border:none;
    vertical-align:middle;
    padding:0;
}

.L-calendar .L-calheader {
    background:transparent;
    font-weight:bold;
    padding:0 0 .6em 0;
    text-align:center;
}
.L-calendar .L-calheader img {
    border:none;
}

.L-calendar .L-calnavyearleft {
    background:url(./images/calendar/sprite2.png) no-repeat 0 -20px;
    width:25px;
    height:15px;
    top:0;
    bottom:0;
    left:-10px;
    margin-left:.4em;
    cursor:pointer;
}

.L-calendar .L-calnavyearright {
    background:url(./images/calendar/sprite2.png) no-repeat 0 -70px;
    width:25px;
    height:15px;
    top:0;
    bottom:0;
    right:-10px;
    margin-right:.4em;
    cursor:pointer;
}

.L-calendar .L-calnavleft {
    background:url(./images/calendar/sprite.png) no-repeat 0 -450px;
    width:25px;
    height:15px;
    top:0;
    bottom:0;
    left:17px;
    margin-left:.4em;
    cursor:pointer;
}

.L-calendar .L-calnavright {
    background:url(./images/calendar/sprite.png) no-repeat 0 -500px;
    width:25px;
    height:15px;
    top:0;
    bottom:0;
    right:17px;
    margin-right:.4em;
    cursor:pointer;
}

.L-calendar .L-calweekdayrow {
    height:2em;
}
.L-calendar .L-calweekdayrow th {
    padding:0;
    border:none;
}

.L-calendar .L-calweekdaycell {
    color:#000;
    font-weight:bold;
    text-align:center;
    width:2em;
}

.L-calendar .L-calfoot {
    background-color:#f2f2f2;
}

.L-calendar .L-calrowhead, .L-calendar .L-calrowfoot {
    color:#a6a6a6;
    font-style:normal;
    font-weight:normal;
    border:none;
}
.L-calendar .L-calrowhead {
    text-align:right;
    padding:0 2px 0 0;
}

.L-calendar .L-calrowfoot {
    text-align:left;
    padding:0 0 0 2px;
}


.L-calendar td.L-calcell {
    border:1px solid #cccccc;
    background:#fff;
    padding:1px;
    height:1.6em;
    line-height:1.6em;  
    text-align:center;
    white-space:nowrap;
}

.L-calendar td.L-calcell a {
    color:#000000;
    display:block;
    height:100%;
    text-decoration:none;
}

.L-calendar td.L-calcell.today {
    background-color:#000;
}
.L-calendar td.L-calcell.today a {
    background-color:#fff;
}

.L-calendar td.L-calcell.oom {
    background-color:#cccccc;
    color:#a6a6a6;
    cursor:default;
}

.L-calendar td.L-calcell.selected {
    background-color:#fff;
    color:#000;
}
.L-calendar td.L-calcell.selected a {
    background-color:#b3d4ff;
    color:#000;
}

.L-calendar td.L-calcell.L-calcellhover {
    background-color:#426fd9;
    cursor:pointer;
}
.L-calendar td.L-calcell.L-calcellhover a {
    color:#fff;
}

.L-calendar td.wd0 { 
    background-color:#fde0e0; 
}
.L-calendar td.wd0 a { 
    color:red; 
}
.L-calendar td.wd6 { 
    background-color:#EBFBFF; 
}
.L-calendar td.wd6 a { 
    color:blue;
}


.L-calendar td.L-calcell.oob {
    color: #bababa;
}

.L-calendar td.L-calcell.restricted { text-decoration:line-through; }
.L-calendar td.L-calcell.highlight1 { background-color:#ccff99; }
.L-calendar td.L-calcell.highlight2 { background-color:#99ccff; }
.L-calendar td.L-calcell.highlight3 { background-color:#ffcccc; }
.L-calendar td.L-calcell.highlight4 { background-color:#ccff99; }



.L-calendar a.L-calnav { 
    border: 1px solid #f2f2f2;
    padding:0 4px;
    text-decoration:none;
    color:#000;
    zoom:1;
}
.L-calendar a.L-calnav:hover { 
    background: url(./images/calendar/sprite.png) repeat-x 0 0;
    border-color:#A0A0A0;
    cursor:pointer;
}

.L-calcontainer .L-cal-nav-mask {
    background-color:#000;
    opacity:0.25;
    filter:alpha(opacity=25);  
}

.L-calcontainer .L-cal-nav {
    border:1px solid #808080;
    left:50%;
    margin-left:-7em;
    width:14em;
    padding:0;
    top:2.5em;
    background-color:#f2f2f2;
}
.L-calcontainer.withtitle .L-cal-nav {
    top: 6.2em;
}

.L-calcontainer.L-multi .L-cal-nav {
    width:16em;
    margin-left:-8em;
}

.L-calcontainer .L-cal-nav-y,
.L-calcontainer .L-cal-nav-m,
.L-calcontainer .L-cal-nav-b {
    padding:5px 10px 5px 10px;
    text-align: center;
}
.L-calcontainer .L-cal-nav-b {
    text-align:center;
}
.L-calcontainer .L-cal-nav-e {
    margin-top:5px;
    padding:5px;
    background-color:#EDF5FF;
    border-top:1px solid #808080;
    display:none;
    text-align: center;
}

.L-calcontainer .L-cal-nav-mc {
    width: 50px;
    margin-left: 10px;
}

.L-calcontainer .L-cal-nav-y input.L-invalid {
    border: 1px solid #dd7870;
}

.L-calcontainer .L-cal-nav-yc {
    width: 44px;
    margin-left: 10px;
}


.L-calcontainer .L-cal-nav .L-cal-nav-btn  {
    cursor: pointer;
    margin: 2px;
}
.L-calcontainer .L-cal-nav .L-cal-nav-btn button {
    border: 1px solid black;
    background-color: transparent;
    padding: 0 8px;
    color: #000;
}
.L-calcontainer .L-cal-nav .L-cal-nav-btn button:hover {
    background-color: transparent;
    border: 1px solid gray;
}



.L-form-field {
    border: 1px solid #999999;
    padding: 0px;
    margin: 0px;
	display: inline-block;
    *display: inline;
    *zoom: 1;
}
.L-form-field input {
    margin: 0px;
    border: 0;
    padding: 2px 2px;
    height: 16px;
}
.L-form-field input[type=checkbox], 
.L-form-field input[type=radio] {
    height: inherit;
}
.L-form-field textarea {
    margin: 0px;
    border: 0;
    padding: 0px;
}
.L-form-field.L-invalid {
    border: 1px solid #DD7870;
}
.L-form-field.L-disabled {
    color: #BCBDC0;
    border: 1px solid #BCBDC0;
}
.L-form-field.L-disabled input, .L-form-field.L-disabled textarea {
    color: #BCBDC0;
}
.L-form-field.L-disabled .icon {
    opacity: .4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
}

html.L-ua-msie7 .L-form-field input[type=text], 
html.L-ua-compatible .L-form-field input[type=text] {
    height: 14px;
}



div.L-textbox {
}
.L-textbox-list-wrapper {
    position: absolute;     
    overflow-y: auto;
    height: auto; 
    max-height: 200px;
    z-index: 12000;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    width: 146px;
    cursor: pointer;
}
.list-wrapper {
    position: absolute;

    overflow-y:scroll;

    height: 200px; 
    max-height: 200px;

    z-index: 12000;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
}
.L-textbox-list-wrapper .selected, .L-textbox-list-wrapper .active {
    border: 1px solid #A5CBD6 !important;
}
.L-textbox-list-wrapper .active {
    border: 1px solid #AAAAA6;
}
.L-editor-panel div.L-textbox {
    vertical-align: top;
}
.L-editor-panel div.L-textbox input {
    height: 18px;
    border-color: #FFFFFF;
    background-color : #FFFFFF;
    padding: 0px;
    margin:0px;
    border:0px;
    vertical-align: top;
}
.L-placeholder {
	color: gray;
}
.L-inline-editor .L-textbox input {
	border: 0px;
}


div.L-numberbox {
    position: relative;
}
.L-grid-panel input {
	border-width : 0px;
}
.L-editor-panel div.L-numberbox {
    height:17px;
    *height:20px;
    vertical-align: top;
}
.L-editor-panel div.L-numberbox input {
    height:17px;
    *height:20px;
}


div.L-combo {
    position:relative;
}
.L-combo div.icon {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 100%;
    top: 0px;
    right: 0px;
    background: transparent url(./images/combo/combo_icon.png) no-repeat 0px 0px;
    background-position: 50% 50%;
}
div.L-combo-list-wrapper {
    position: absolute;

    overflow-y: auto;

    height: auto; 


    z-index: 12000;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    width: 146px;
}
div.L-combo-list-wrapper-nobg {
    max-height: 200px;
}
.L-combo-list-wrapper .selected, .L-combo-list-wrapper .active {
    border: 1px solid #A5CBD6;
}
.L-combo-list-wrapper .active {
    border: 1px solid #AAAAA6;
}

div.L-combo-list-wrapper-up {
    top: auto;
    bottom: 21px;
}
div.L-list {
	min-height: 12px;
	cursor: pointer;
}
div.L-combo-list-wrapper-up div.L-list.active {
    background-color: rgb(223, 232, 246);
}
.L-grid-panel div.L-combo input {
    height: 21px;
}

.L-combo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px;
}
div.list-wrapper  div.L-list {
    padding: 0;
    padding-left: 5px;
    font:normal 14px tahoma, arial, helvetica, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}

.L-combo input.empty {}
.L-grid-panel div.L-combo input {
    padding: 0px;
    margin:0px;
    border:0px;
}


.L-form-field.L-checkbox-panel {
    border: 0;
}
.L-form-field.L-checkbox-group {
    border: 0;
}
.L-checkbox-panel.L-invalid label {
    background: none;
}
.L-editor-panel .L-checkbox-group {
    vertical-align: top;
}
.L-editor-panel .L-checkbox-panel {
    float:left;
    text-align: center;
    vertical-align: top;
}



.L-form-field.L-radio-panel {
    border: 0;
}
.L-form-field.L-radio-group {
    border: 0;
}
.L-editor-panel .L-radio-group {
    vertical-align: top;
}
.L-editor-panel .L-radio-panel {
	float:left;
	text-align: center;
	vertical-align: top;
}


div.L-timebox {
    position: relative;
}
.L-timebox div.icon {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 9px;
    height: 100%;
    top: 0px;
    right: 0px;
}
html.L-ua-msie6 .L-timebox div.icon {
    top: 1px;
}
.L-timebox div.icon .L-spin-up {
    width: 9px;
    height: 50%;
    background: transparent url(./images/timebox/spin_up.gif) no-repeat 0 0;
    background-position: 50% 50%;
}
.L-timebox div.icon .L-spin-down {
    width: 9px;
    height: 50%;
    background: transparent url(./images/timebox/spin_down.gif) no-repeat 0 0;
    background-position: 50% 50%;
}
.L-timebox div.icon .L-spin-up-click {
	background: transparent url(./images/timebox/spin_up_click.gif) no-repeat 0 0;
}
.L-timebox div.icon .L-spin-down-click {
    background: transparent url(./images/timebox/spin_down_click.gif) no-repeat 0 0;
}
div.L-timebox input.empty {
    color: gray;
}

.L-grid-panel div.L-timebox input {
    height: 21px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.L-ua-safari.L-ua-mobile .L-timebox.L-form-field {
    border: 0;
}



div.L-datebox {
	position: relative;
}
.L-datebox a.icon {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 100%;
    top: 0px;
    right: 0px;
    background: transparent url(./images/datebox/cal.png) no-repeat 0 0;
    background-position: 50% 50%;
}
.L-datebox .L-hidden-field {
    display: none;
}
.L-cal-container {
    display: none;
    z-index: 999;
    position: absolute; 
}
.L-editor-panel div.L-datebox {
    vertical-align: top;
}
.L-editor-panel div.L-datebox input {
    height: 18px;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

.L-ua-safari.L-ua-mobile .L-datebox.L-form-field {
	border: 0;
}


div.L-textarea {
    position:relative;
    overflow:hidden;
}
.L-textarea textarea {
    resize: none;
}
.L-editor-panel div.L-textarea {
    vertical-align: top;
}
.L-editor-panel div.L-textarea textarea {
    border-width : 0px;
	height: 20px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}


.L-grid{
    margin:0px;
    padding:0px;
    height:100%;
}

.L-grid table{
    table-layout:fixed;
    width:100%;
}

.L-grid table td {
    vertical-align: middle;
    overflow:hidden;
}

.L-grid-resize-proxy{
    background-color:#777777;
    border:0 none;
    cursor:col-resize;
    overflow:hidden;
    position:absolute;
    width:1px;
    z-index:999;
    top:0;
    left:0;
    visibility:hidden;
}
.L-grid-dd-proxy{
    border:2px solid #AAAAAA;
    position:absolute;
    visibility:hidden;
    cursor:move;
    z-index:999;
    top:0;
    left:0;
}
.L-grid-dd-proxy div{
    width:100%;
    height:100%;
    background-color:#CCCCCC;
    opacity:0;
    filter: alpha(opacity=0);
}
.L-grid-dd-target{
    background-color:red;
    width:50x;
    position:absolute;
    z-index:99;
    visibility:hidden;
    top:0;
    left:0;
}

.L-grid-col{}

.L-grid-header{
    overflow:hidden;
    border-bottom:#CCCCCC 1px solid;
}

.L-grid-header-table {
    table-layout: fixed !important;
}

.L-grid-row-dummy-cell {

}

.L-grid-header a{
    text-decoration:none;
    color:Black;
}
.L-grid-header-offset{
}
.L-grid-header-row{
}

.L-grid-header-row td, .L-grid-row-dummy td {
    text-align:center;
    border : 0px;
    border-right : #CCCCCC 1px solid;

    border-top : #CCCCCC 1px solid;
    padding:0px;
    vertical-align:middle;
}

.L-grid-header-row .L-grid-header-inner {
    padding:4px 0px; 
    overflow: hidden;
    white-space:nowrap;
}

.L-grid-header-row .L-grid-header-selection {
    width: 25px;
}

.L-grid-header-row .L-grid-header-num {
}

.L-grid-header-row .L-grid-header-state {
    padding:0px;
    width: 14px;
}

.L-grid-header-row .L-grid-cell-first{
}

.L-grid-header-row-first{}
.L-grid-header-row-first td{

    border-top :0;
}

.L-grid-header-row-last{}

.L-grid-header-cell{
}

.L-grid-header-inner{
}
.L-grid-header-btn {}

.L-grid-header-over{
    overflow:hidden;
}

.L-grid-li-first {
    display: none;
}

.L-grid-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.L-grid-li-first {
    position: absolute;
    top: 0px;
    left: 0px;
}

.L-grid-column-freeze .L-grid-li-first {
    display: block;
    overflow: hidden;
}

.L-grid-view.L-grid-column-freeze .L-grid-header .L-grid-li-first {
    z-index: 2;
    border-bottom: 1px solid #CCC;
}

.L-grid-li-first {
    background-color: white;
    z-index: 1;
}

html.L-ua-msie7 .L-grid-li-last {
	display: inline-block;
	*display: inline;
	*zoom: 100%;
}

.L-grid-body{
    overflow:hidden;
}
.L-grid-body-empty{
    border:0px;
    border-right:solid 1px #EDEDED;
    border-bottom:solid 1px #EDEDED;
    text-align:center;
    padding: 3px 0px;
}

.L-grid-loading-panel {
    position : absolute;
    z-index:100;
    top: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    _height: expression(parentNode.offsetHeight);
}

.L-grid-loading-mask {
    background-color: gray;
    opacity: .2;
    -moz-opacity: 0.2;
    filter: alpha(opacity=20);
    width: 100%;
    height: 100%;
    _height: expression(parentNode.offsetHeight);
}

.L-grid-loading-message {
    background:transparent url(./images/grid/waiticon.gif) no-repeat 0 0;
    display: inline;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 46%;
    width: 100px;
    height: 100px;
}

.L-grid-col-line .L-grid-row {
    border-top-color:#CCCCCC;
}

.L-grid-col-line .L-grid-row td.L-grid-cell{
    border-top : 0;
    border-left:0;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-right:0px;
}

.L-grid-row{

    border:0px;


    border-color : #CCCCCC;
    cursor:default;
}

.L-grid-row .L-grid-cell-inner {
    margin:0px;
    overflow:hidden;
    padding: 3px 3px 3px 5px;
    white-space:nowrap;
}

.L-grid-row-first{}
.L-grid-row-first .L-grid-cell{
}
.L-grid-row-last{}
.L-grid-row-last .L-grid-cell{
}
.L-grid-row-odd{}
.L-grid-row-even{
    background-color:#F7F7F7;
}

.L-grid-cell{
    border:0px;
    padding:0px;
    border-right:1px solid;


    border-bottom: 1px solid #CCCCCC;
}

.L-grid-cell.L-invalid {
    background: url(./images/grid/invalid_line.gif) repeat-x bottom !important;
}

.L-grid-cell-first{}
.L-grid-cell-last{
}
.L-grid-cell-inner{}

.L-grid-header-inner, .L-grid-cell-inner {
    white-space:nowrap;
}

.L-grid-row-over{
    border-color:#ddd !important;
    background-color:#efefef !important;
}

.L-grid-summary-col {
    border-right: 1px solid #cccccc;
}

.L-grid-summary-label {
    text-align: right;
}

.L-grid-summary-row .L-grid-cell-inner {
    margin: 0px;
    overflow: hidden;
    padding: 3px 3px 3px 5px;
    white-space: nowrap;
}

.L-grid-sort-asc .L-grid-sort-icon {
    background-image: url(./images/grid/array_up.png) !important;
}

.L-grid-sort-desc .L-grid-sort-icon {
    background-image: url(./images/grid/array_down.png) !important;
}

.L-grid-sort-icon {
	background-repeat: no-repeat;
    height: 11px;
    width: 17px;
    margin-left:3px;
    vertical-align: middle;
    display: inline;
    margin-right: -11px;
    cursor: pointer;
    *margin-top: -5px;
    display: none;
}

.L-grid-cell-sortable .L-grid-sort-icon {
    background-image: url(./images/grid/array_up_down.png);
    display: inline-block;
    background-position-x: 5px;
}

.L-grid-header-row .L-grid-cell-state .L-grid-header-inner {
    background-image: url(./images/grid/light_white_red.png);
    background-position:3px center;
    background-repeat:no-repeat;
    background-color: transparent #000;
}

.L-grid-header-row .L-grid-cell-state .L-grid-header-inner a {
    display: none;
}

.L-grid-row .L-grid-cell-state .L-grid-cell-inner {
    padding: 3px 0px;
}

.L-grid-header-row .L-grid-state-modified .L-grid-header-inner {
    background-position:-22px center;
}

.L-grid-cell-state-I {
    background-image: url(./images/grid/add_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.L-grid-cell-state-U {
    background-image: url(./images/grid/edit_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.L-grid-cell-state-D {
    background-image: url(./images/grid/del_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.L-grid-panel {
    position: relative;
    visibility: inherit;
    height:100%;
}

.L-grid-panel.L-panel .hd {
    padding: 0px !important;
    overflow:hidden !important;
}

.L-grid-panel.L-panel .bd {
    padding: 0px !important;

    padding: 0;
    margin: 0;
}

.L-grid-panel.L-panel .ft {
    position: relative;
    padding: 0px !important;
    overflow:hidden !important;
}

.L-grid-panel.L-panel .bd .L-grid {
    background-color:white;
}

.L-grid-body.L-panel-container {
    padding : 0px;
}

.L-editor-panel {
    background-color:white;
    border:solid 1px red;
    position:absolute;
    z-index:999;
    top:0;
    left:0;
    padding:0px !important;
}

.L-editor-panel.L-panel .bd {
    overflow: hidden;
    background-color: #fff;
}

.L-editor-panel.L-panel {
    overflow : visible;
    border-width : 0px;
    padding : 0px !important;
    border-collapse: collapse;
    height: 90%;
    *height: 95%;
}

.L-editor-panel .bd {
    overflow : visible;
    height: 100%;
}

.L-grid-focus {
    width:1px;
    height:1px;
    font-size:1px;
    line-height:1px;
    position:absolute;

    outline-style:none;
    outline-width:0px;
    border:0px;
    top: -1px;
}

.L-grid-header .L-grid-header-table a {
    display: inline-block;
    *display: inline;
    *zoom: 100%;
    height: 16px;
}





html.L-ua-msie7 .L-grid-sort-icon {
    margin-top: 2px;
}

.L-grid-row-checkBox, .L-grid-header-checkBox {
    background: url(./images/grid/row-check-sprite.gif) transparent 2px 0px no-repeat;
    width:100%;
    height:16px;
    display:inline-block;
    vertical-align:middle;
    padding: 0px;
    margin-right: 11px;
}
.L-grid-row-checkBox-disabled {
    height:16px;
}
.L-grid-row-checkBox.L-grid-row-checkBox-disabled {
    background: url(./images/grid/row-check-sprite.gif) transparent -48px 0px no-repeat;
}
.L-grid-row-marked .L-grid-row-checkBox.L-grid-row-checkBox-disabled {
    background: url(./images/grid/row-check-sprite.gif) transparent -73px 0px no-repeat;
}
.L-grid-header-checkBox {
    background-position:7px 0px;
}

.L-grid-row-marked .L-grid-row-checkBox, .L-grid-header-checkBox-mark .L-grid-header-checkBox {
    background-position:-23px 0px;
}
.L-grid-header-checkBox-mark .L-grid-header-checkBox {
    background-position:-18px 0px;
}
.L-grid-header-checkBox .L-grid-sort-icon {
    display: none;
}

.L-grid-header-radio {
    background-image: none;
}

.L-grid-row-radio {
    background-image: url(./images/grid/row-check-sprite.gif);
    width:100%;
    height:18px;
    display:inline-block;
    vertical-align:middle;
    background-position:2px 2px;
    background-repeat:no-repeat;
    background-color:transparent;
    padding: 0px;
}

.L-grid-row-selected {
    background-image: none;
    border-color:#CCCCCC;
}

.L-grid-row-selected .L-grid-cell-editable {

    border-color:#CCCCCC;
}

.L-grid-body .L-grid-cell-selected {
    border:1px solid;
    border-color : #CCCCCC;
    background-color: #DADAB4;
}

.L-grid-row-marked .L-grid-row-radio {
    background-position:-23px 2px;
}

.L-grid-panel.L-panel, .L-grid-panel.L-panel .bd {
    overflow : visible;
}

.L-grid-panel .L-masked-message {
    background:transparent url(./images/grid/waiticon.gif) no-repeat 0 0;
}

.L-grid-panel .L-grid-button  {
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
    vertical-align: middle;
}
.L-grid-panel .L-grid-button:hover {
    background-color: gray;
    border: 1px solid black;
}

.L-grid-col-checkBox {
    background-image: url(./images/grid/row-check-sprite.gif);
    height:18px;
    display:inline-block;
    vertical-align:middle;
    background-position:2px 2px;
    background-repeat:no-repeat;
    background-color:transparent;
    padding: 0px;
    width: 21px;
}

.L-grid-col-select-mark .L-grid-col-checkBox {
    background-position:-23px 2px;
}
.L-grid-cell, td.L-grid-dummy-cell {
    height: 26px;
}
.L-grid-dummy-cell {
    width:0px !important;
    border-left:0px !important;
    border-right:0px !important;
    padding-left:0px !important;
    padding-right:0px !important;
    margin-left:0px !important;
    margin-right:0px !important;
    visibility:hidden;
}
.L-grid-search-dialog {
    z-index: 3;
} 
.L-popup-renderer {
	position:relative;
}
.L-popup-renderer .L-popup-button {
	width: 80%;
	overflow-x: hidden;
}
.L-clipboard {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
    width: 70%;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    color: #000;
}
.L-clipboard textarea {
    width: 99%;
}
.L-clipboard .L-buttons {
    text-align: right;
}
.L-copy .L-buttons .L-apply {
    display: none;
}
.L-clipboard-title-copy {
    display: none;
}
.L-copy .L-clipboard-title-copy {
	display: inline;
}
.L-copy .L-clipboard-title-paste {
    display: none;
}
.L-clipboard .L-clipboard-title {
    color: #000;
    text-align: left;
    background-color: #fff;
    padding: 7px;
    font-weight: bold;
}
.L-grid-action-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.L-grid-action-menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: #000;
}
.L-grid-action-menu .L-action-menu-item {
    cursor: pointer;
    height: 40px;
    width: 70px;
    display: inline-block;
    text-align: center;
    background-color: #FFF;
    line-height: 20px;
    color: #333;
    padding: 0px;
}
.L-fn-on-tablet-click {
	padding-top: 10px !important;
	height: 30px !important;
}
.L-grid-action-menu .L-action-menu-li, .L-grid-action-menu .L-action-menu-li-hr {
    float: left;
}
.L-grid-action-menu .L-action-menu-li {
    border: 1px solid #bababa;
}
.L-action-menu-li-hr {
    width: 10px;
    height: 10px;
    background: transparent;
}
div[data-menu-type=left] li.L-menu-type-right {
    display: none;
}
div[data-menu-type=right] li.L-menu-type-left {
    display: none;
}
li.L-menu-type-right, .L-grid-action-menu li.L-menu-type-right .L-action-menu-item {
    line-height: 30px;
    height: 30px;
}
.L-grid.L-editable .L-form-field {
	border: 0;
}
html.L-ua-mobile .L-grid-scroller {
    -webkit-overflow-scrolling: touch;
}
.L-tablet-mode-false {
	display: none;
}



.L-scroller .L-scrollbar-y-btn-prev{
    width: 17px;
    height: 17px;
    background-color: transparent;
    background-color: white\9;
    filter:alpha(opacity=1);
    opacity: 0.01;
    position: absolute;
    top:0px;
    right: 0px;
    z-index: 3;
}
.L-scroller .L-scrollbar-y-btn-next{
    width: 17px;
    height: 17px;
    background-color: transparent;
    background-color: white\9;
    filter:alpha(opacity=1);
    opacity: 0.01;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 3;
}

.L-scroller .L-scrollbar-x-btn-prev{
    width: 17px;
    height: 17px;
    background-color: transparent;
    background-color: white\9;
    filter:alpha(opacity=1);
    opacity: 0.01;
    position: absolute;
    bottom:0px;
    left: 0px;
    z-index: 3;
}
.L-scroller .L-scrollbar-x-btn-next{
    width: 17px;
    height: 17px;
    background-color: transparent;
    background-color: white\9;
    filter:alpha(opacity=1);
    opacity: 0.01;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 3;
}




.L-ul body {
    line-height:1;
}
.L-ul li {
	list-style: none;
}
.L-ul article, .L-ul aside, .L-ul dialog, .L-ul figure, .L-ul footer, .L-ul header, .L-ul hgroup, .L-ul nav, .L-ul section { 
    display:block;
}
.L-ul blockquote, .L-ul q {
    quotes:none;
}
.L-ul blockquote:before, .L-ul blockquote:after, .L-ul q:before, .L-ul q:after {
    content:'';
    content:none;
}
.L-ul a {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    background:transparent;
    line-height:normal;
}

.L-ul ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

.L-ul mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

.L-ul del {
    text-decoration: line-through;
}

.L-ul abbr[title], .L-ul dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

.L-ul table {
    border-collapse:collapse;
    border-spacing:0;
}

.L-ul hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

.L-ul input, .L-ul select {
    vertical-align:middle;
}


.L-ul {
    margin:0;
    padding:0;
    overflow:auto;
}
.L-ul ul, .L-ul li {
    line-height:18px !important;
    margin:0;
    padding:0; 
}
.L-ul ul {
    margin-left:17px;
}
.L-ul-first {
    margin-left:0 !important;
}
.L-ul-node {
    padding:0;
}
.L-ul-hidden-node {
    display:none;
}

.L-ul .L-ul-li-depth-0 {
    outline: 0;
}
