@charset "utf-8";

/* L-Panel 
---------------------------------------------------------*/
.L-panel .container-close {
    right: 10px;
    background:url(./images/container/popup_close_icon.png) no-repeat;
}
.L-panel .container-close:hover {
    right: 10px;
    background:url(./images/container/popup_close_gray_icon.png) no-repeat;
}
.L-panel {
    border:1px solid #bcbcbc;
}
.L-panel .hd {
    background-color: #4a8700;
    color: #fff;
    border:1px solid #4a8700;
    padding: 6px;
}
.L-panel .ft {
    position: relative;
    background-color: #f4f4f4;
    padding: 6px;
}
.L-panel-container .underlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.L-panel-container.shadow .underlay {
    background-color: transparent;
}
.L-dialog .ft {
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 6px;
    height: 22px;
}
/* L-grid-panel 
---------------------------------------------------------*/
.L-grid-panel.L-panel {
	border-top: 2px solid #4a8700;
	border-left-color: #fff;
	border-right-color: #fff;
	border-bottom-color: #c5c5c5;
}
.L-grid-header a {
	font-weight: bold;
}
.L-grid-header-row .L-grid-header-inner {
    padding: 9px 0px 9px 0px;
}
.L-grid-multi-header .L-grid-header-row .L-grid-header-inner {
    padding: 4px 0px;
} 
.L-grid-header {
    background-color: #fff;
}
.L-grid-col-line .L-grid-row td.L-grid-cell {
	border-right: 1px solid #dddddd;
    border-bottom: 1px solid #f5f5f5;
}
.L-grid-row .L-grid-cell-inner.L-grid-col-btn {
    padding: 0px 3px 0px 5px;
}
.L-grid-row-even {
    background-color: #f5f5f5;
}
.L-grid-row-selected {
    background-color: #ebf8bf !important;
}
.L-grid-body .L-grid-cell-selected {
    background-color: #d3f46c !important;
}
.L-grid-cell-state-I {
    background: url(./images/grid/skin_green/add_icon.png) no-repeat center center transparent;
}
.L-grid-cell-state-U {
    background: url(./images/grid/skin_green/edit_icon.png) no-repeat center center transparent;
}
.L-grid-cell-state-D {
    background: url(./images/grid/skin_green/delete_icon.png) no-repeat center center transparent;
}
.L-editable .L-grid-row-selected .L-grid-cell-editable {
    background: url(./images/grid/edit_icon.png) no-repeat 2px top transparent;
}
.L-editor-panel {
    border: 2px solid #4a8700;
}
.L-grid-summary-depth-3 {
    background-color: #d3f46c;
}
.L-grid-summary-depth-2 {
    background-color: #dff793;
}
.L-grid-summary-depth-1 {
    background-color: #ebfaba;
}
.L-grid-summary-depth-0 {
    background-color: #f6fde1;
}
.L-grid-row-summary-total td.L-grid-cell {
    background-color: #4a8700;
}
.L-grid-total-summary-dummy {
    border-right: 1px solid #4a8700 !important;
}
.L-grid-row-expand-close .L-grid-tree-col-icon {
    background: url("./images/grid/skin_green/grid_tree_plus.png") no-repeat 1px 1px transparent;
}
.L-grid-row-expand-open .L-grid-tree-col-icon {
    background: url("./images/grid/skin_green/grid_tree_minus.png") no-repeat 1px 1px transparent;
}
.L-toast {
	border: 1px solid #4a8700 !important;
}
.L-grid-header-tool {
    background: transparent url(./images/grid/skin_green/grid_popup.png) no-repeat right center;
}
.L-header-master-menu-body .L-header-menu-row:hover {
    color: #93b81b;
    font-weight: bold;
}
.L-grid-header .L-filtered {
    background: transparent url(./images/grid/skin_green/filtered.png) no-repeat 2px 3px;
}
.L-popup-button-icon {
    background: rgba(0, 0, 0, 0) url(./images/grid/skin_green/popup_green.gif) no-repeat 0 0;
}
.L-popup-button-icon.clear {
    background: transparent url(./images/grid/btn_clear.png) no-repeat 0 -1px;
    width: 15px;
    height: 15px
}
.L-clipboard {
    border: 2px solid #4a8700;
}
.L-clipboard .L-clipboard-title {
    background-color: #4a8700;
}
/* LButton
---------------------------------------------------------*/
.L-button button {
    *overflow: visible;
    background-color: #fafafa;
    vertical-align: middle;
    padding: 1px 6px;
}
.L-button button:hover {
    background-color: #4a8700;
}
.L-ua-mobile .L-button button:hover {
    background-color: inherit;
    border: 1px solid #bababa;
    color: inherit;
}
.L-button.L-disabled button:hover {
    border: 1px solid #bababa;
}
.L-button.L-disabled button:hover {
    background-color: transparent;
}
.L-grid-panel .L-grid-button  {
    background-color: #fafafa;
    border: 1px solid #bababa;
}
.L-grid-panel .L-grid-button:hover {
    background-color: #4a8700;
    border: 1px solid #bababa;
    color: white;
}
/* L-Treeview
---------------------------------------------------------*/
.L-ul-treeview .L-ul-focus-node {
    background-color: transparent;
}
.L-ul-treeview-node-label {
    font-weight: normal;
}
.L-ul-has-child-open-mid .L-ul-treeview-node-label, .L-ul-has-child-close-mid .L-ul-treeview-node-label{
}
.L-ul-has-child-open-mid .L-ul-treeview-node-label, .L-ul-has-child-close-last .L-ul-treeview-node-label{
}
.L-ul-treeview-node-image-close-mid, .L-ul-treeview-node-image-close-last {
    background: url("./images/ul/tree/skin_green/tree_plus.png") no-repeat scroll 50% 50% transparent;
}
.L-ul-treeview-node-image-open-mid, .L-ul-treeview-node-image-open-last {
    background: url("./images/ul/tree/skin_green/tree_minus.png") no-repeat scroll 50% 50% transparent;
}
.L-ul-treeview-node-image-mid, .L-ul-treeview-node-image-last {
    background: url("./images/ul/tree/skin_green/tree_last.png") no-repeat scroll 50% 50% transparent;
}
.L-ul-treeview .L-ul-li-line {
    background: none;
 }
.L-ul-treeview-node-folder-open{
    margin-left: -3px;
    background:url("./images/ul/tree/skin_green/folder_open.png") no-repeat -2px transparent;
}
.L-ul-treeview-node-folder-close{
    margin-left: -2px;
    background:url("./images/ul/tree/skin_green/folder_close.png") no-repeat -2px transparent;
}
.L-ul-treeview-node-checkbox-checked{
    background:url("./images/ul/tree/skin_green/checkbox_selected.png") no-repeat scroll left center transparent;
}
.L-ul-treeview-node-checkbox-unchecked{
    background:url("./images/ul/tree/skin_green/checkbox.png") no-repeat scroll left center transparent;
}
.L-ul-tabmenu .L-ul-focus-node {
    background-color: #4a8700;
}

/* L-pager
---------------------------------------------------------*/
.L-pager-first, .L-pager-prev-group, .L-pager-prev, .L-pager-next, .L-pager-next-group, .L-pager-last {
    width: 23px;
    height: 11px;
}
.L-pager-item {
    height: 16px;
    text-align: center;
}
.L-pager-item-wrap {
    width: 21px;
}
.L-pager-first {
    background: transparent url(./images/pager/move_first.png) no-repeat left;
}
.L-pager-prev-group {
    background: transparent url(./images/pager/move_prev_page.png) no-repeat left;
}
.L-pager-prev {
    background: transparent url(./images/pager/move_prev.png) no-repeat left;
}
.L-pager-next {
    background: transparent url(./images/pager/move_next.png) no-repeat right;
}
.L-pager-next-group {
    background: transparent url(./images/pager/move_next_page.png) no-repeat right;
}
.L-pager-last {
    background: transparent url(./images/pager/move_last.png) no-repeat right;
}
.L-pager-item a {
    padding: 0 5px 0 3px;
}
.L-pager-item.L-pager-selected {
    background: transparent url(./images/pager/skin_green/underline.png) no-repeat bottom;
}
.L-pager-item-wrap:hover .L-pager-item {
    background: transparent url(./images/pager/skin_green/underline.png) no-repeat bottom;
}

/* L-calender
---------------------------------------------------------*/
.L-calcontainer {
    background-color:#fff;
    border: 1px solid #bcbcbc;
}
.L-calcontainer .L-title {
    background: none;
    background-color: #4a8700;
}
.L-calcontainer .L-calclose {
    background: url(./images/container/popup_close_icon.png) no-repeat;
    width: 13px;
    height: 13px;
    right: 10px;
}
.L-calendar .L-calnavyearleft {
    background:url(./images/calendar/prev_year.png) no-repeat;
    width:12px;
    height:11px;
    top:11px;
    left: 2px;
}
.L-calendar .L-calnavyearright {
    background:url(./images/calendar/next_year.png) no-repeat;
    width:12px;
    height:11px;
    top:11px;
    right: 2px;
}
.L-calendar .L-calnavleft {
    background:url(./images/calendar/prev_month.png) no-repeat;
    width:7px;
    height:11px;
    top:11px;
    left: 19px;
}
.L-calendar .L-calnavright {
    background:url(./images/calendar/next_month.png) no-repeat;
    width:7px;
    height:11px;
    top:11px;
    right: 19px;
}
.L-calendar .L-calweekdayrow {
    height: 9px;
    border-top: 2px solid #4a8700;
}
.L-calendar .L-calweekdaycell {
    color:#fff;
    font-weight:bold;
    text-align:center;
    width:2em;
}
.L-calendar a.L-calnav { 
    border: 0;
}
.L-calendar td.wd0 { 
    background-color:#fff; 
}
.L-calendar td.wd0 a { 
    color: #ae0000; 
}
.L-calendar td.wd6 { 
    background-color:#fff; 
}
.L-calendar td.wd6 a { 
    color: #00588b;
}
.L-calendar div.L-calheader span.year { 
    font-size: 15px;
    vertical-align: middle;
    color: #666565;
    display: inline-block;
    width: 36px;
}   
.L-calendar div.L-calheader span.year-suffix { 
    display: none;
}
.L-calendar div.L-calheader span.month { 
    font-size: 28px;
    vertical-align: middle;
    color: #313131;
    display: inline-block;
    width: 36px;
    margin-left: 10px;
}
.L-calendar div.L-calheader span.month-suffix { 
    display: none;
}
.L-calendar td.L-calcell {
    border: 0;
}
.L-calendar td.L-calcell.oom {
    background-color:#fff;
    color:#E0E0E0;
    cursor:default;
}
.L-calendar td.L-calcell.selected a {
    background-color:#4a8700;
    color:#000;
}
.L-calendar td.L-calcell.L-calcellhover {
    background-color:#8ca930;
}
.L-calendar td.L-calcell.L-calcellhover a {
    background-color: #4a8700;
    color:#000;
}
.L-calendar td.L-calcell.today {
    background-color:#8ca930;
}
.L-calendar td.L-calcell.highlight1 { background-color:#d8f57c; }
.L-calendar td.L-calcell.highlight2 { background-color:#aacd3b; }
.L-calendar td.L-calcell.highlight3 { background-color:#6f8526; }
.L-calendar td.L-calcell.highlight4 { background-color:#50601c; }
.L-calcontainer .L-cal-nav .L-cal-nav-btn button {
    background-color: #fafafa;
    border: 1px solid #bababa;
    height: 22px;
}
.L-calcontainer .L-cal-nav .L-cal-nav-btn button:hover {
    background-color: #4a8700;
    border: 1px solid #bababa;
    color: #fff;
}

/* LDateBox
---------------------------------------------------------*/
.L-datebox-calendar .L-title, 
.L-datebox-calendar .link-close {
    display: none;
}

/* LMonthBox
---------------------------------------------------------*/
.L-monthbox-calendar .L-title, 
.L-monthbox-calendar .link-close {
    display: none;
}

/* LTimeBox
---------------------------------------------------------*/
.L-timebox div.icon .L-spin-up {
    background: url(./images/timebox/skin_green/up.png) no-repeat ;
    *background: url(./images/timebox/skin_green/up.gif) no-repeat ;
    background-position: 45% 45%;
    *background-position: 45% 45%;
}
.L-timebox div.icon .L-spin-down {
    background: url(./images/timebox/skin_green/down.png) no-repeat ;
    *background: url(./images/timebox/skin_green/down.gif) no-repeat ;
    background-position: 45% 45%;
    *background-position: 45% 45%;
}
.L-timebox div.icon .L-spin-up-click {
    background: none;
}
.L-timebox div.icon .L-spin-down-click {
    background: none;
}

/* LSwitch
---------------------------------------------------------*/
.L-switch-button {
    background-color: #fafafa;
    border: 1px solid #bababa;
    color: #333;
}
.L-switch-button.L-switch-on {
    background-color: #4a8700;
    color: #fff;
}
.L-switch-multiple .L-switch-button {
    border-left: 0px;
}
.L-switch-multiple .L-switch-first-button {
    border-left: 1px solid #bababa;
}

/* LTabMenu
---------------------------------------------------------*/
.L-ul-tabmenu {
    background: url("./images/menu/tab/skin_green/bg.png") repeat-x;
}
.L-ul-tabmenu .L-ul-first ul {
    border-color: #4a8700;
}
.L-ul-tabmenu .L-ul-depth-0 {
    border: 0;
}
.L-ul-tabmenu .L-ul-depth-0 .L-ul-tabmenu-content {
	color: #ffffff;
}
.L-ul-tabmenu .L-ul-depth-1 .L-ul-tabmenu-content {
    color: #aeaeae;
}
.L-ul-tabmenu .L-ul-focus-node .L-ul-tabmenu-content,
.L-ul-tabmenu .L-ul-focus-top-node .L-ul-tabmenu-content  {
    color: #000000;
}
.L-ul-tabmenu .L-ul-depth-1 .L-ul-focus-node .L-ul-tabmenu-content {
    color: #aeaeae;
}
.L-ul-tabmenu .L-ul-depth-0 .L-ul-li-depth-0 {
    background: url("./images/menu/tab/skin_green/divider.png") no-repeat -3px 0px;
}
.L-ul-tabmenu .L-ul-depth-0 .L-ul-li-depth-0 .L-ul-li-div-depth-0.L-ul-has-child-open-mid,
.L-ul-tabmenu .L-ul-depth-0 .L-ul-li-depth-0 .L-ul-li-div-depth-0.L-ul-has-child-open-last {
    background-color: #4a8700;
}
.L-ul-tabmenu .L-ul-depth-1 .L-ul-tabmenu-content {
    background: url("./images/menu/tab/skin_green/bullet_gray.png") no-repeat left 6px;
}
.L-ul-tabmenu .L-ul-depth-1 .L-ul-has-child-open-mid .L-ul-tabmenu-content,
.L-ul-tabmenu .L-ul-depth-1 .L-ul-has-child-open-last .L-ul-tabmenu-content {
    background: url("./images/menu/tab/skin_green/bullet_green.png") no-repeat left 6px;
    color: #4a8700;
}

/* LSlideMenu
---------------------------------------------------------*/
.L-ul-slidemenu .L-ul-node {
    padding: 0px 0px 0px 30px;
    border-top: 1px solid #bababa;
    line-height: 30px !important;
    height: 30px;
}
.L-ul-slidemenu .L-ul-depth-0 {
    border: 1px solid #bababa;
    background-color: white;
}
.L-ul-slidemenu .L-ul-li-depth-0 .L-ul-li-div-depth-0 {
    padding-left: 35px;
    font-weight: bold;
    color: #4a8700;
    background: url("./images/menu/slide/open.png") no-repeat 10px;
}
.L-ul-slidemenu .L-ul-li-depth-0 .L-ul-li-div-depth-0.L-ul-has-child-open-mid, .L-ul-slidemenu .L-ul-li-depth-0 .L-ul-li-div-depth-0.L-ul-has-child-open-last {
    background: url("./images/menu/slide/close.png") no-repeat 10px;
    background-color: #b6d196;
}
.L-ul-slidemenu li.L-node-state-D .L-ul-node {
    background: url(./images/grid/skin_red/delete_icon.png) no-repeat 6px center rgba(0, 0, 0, 0);
    background-color: #b6d196;
}
.L-ul-slidemenu .L-ul-li-depth-1 .L-ul-li-div-depth-1 {
    padding-left: 35px;
}
.L-ul-slidemenu .L-ul-li-depth-1 .L-ul-focus-node {
    text-decoration: none;
    color: #4a8700;
}

/* LContextMenu
---------------------------------------------------------*/
/* MenuBar style rules */
.L-ruimenubar {
    background-color: #fff;    
}
/* Menu style rules */
.L-ruimenu {
    background-color: #fff;
    box-shadow: 4px 4px 4px #888888;
}
.L-ruimenuitemlabel,
.L-ruimenubaritemlabel {
    font-size: 12px;
    color: #222222;
    text-decoration: none;
    padding-left: 17px;
}
/* MenuItem states */
/* Selected MenuItem */
.L-ruimenubaritem-selected,
.L-ruimenuitem-selected {
    background-color: #fff;
}
.L-ruimenubaritemlabel-selected,
.L-ruimenuitemlabel-selected {
    text-decoration: none;
    color: #22222;
    background-color: #4a8700;
}
.L-ruimenubaritemlabel-disabled,
.L-ruimenuitemlabel-disabled {
    cursor: default;
    color: #888888;
}
/* L-combo-list
---------------------------------------------------------*/
.L-combo-list-wrapper .selected, .L-combo-list-wrapper .active {
    border: 0px;
    background-color: #aacd3b;
}
.L-combo-list-wrapper .active {
    border: 0px;
    background-color: #D2F96C;
}
/* L-notification-manager
---------------------------------------------------------*/
.L-bg-color-1 {
    background-color: #d8f57c;
    border: 1px solid #d8f57c;
}

.L-bg-color-2 {
    background-color: #d0f361;
    border: 1px solid #d0f361;
}

.L-bg-color-3 {
    background-color: #4a8700;
    border: 1px solid #4a8700;
}

.L-bg-color-4 {
    background-color: #aacd3b;
    border: 1px solid #aacd3b;
}

.L-bg-color-5 {
    background-color: #8ca930;
    border: 1px solid #8ca930;
}

.L-bg-color-6 {
    background-color: #6f8526;
    border: 1px solid #6f8526;
}

.L-bg-color-7 {
    background-color: #50601c;
    border: 1px solid #50601c;
}

.L-bg-color-1 .bd, .L-bg-color-2 .bd, .L-bg-color-3 .bd, .L-bg-color-4 .bd, .L-bg-color-5 .bd {
    color: #222222;
}

.L-bg-color-6 .bd, .L-bg-color-7 .bd {
    color: #ffffff;
}
/* L-navset
---------------------------------------------------------*/
.L-navset .L-nav li a { 
    border-top: 1px solid #bababa;
    border-left: 1px solid #bababa;
    border-right: 1px solid #bababa;
    border-bottom: 1px solid #fff;
    margin-bottom: 1px;
    text-align: center;
    color: #222222;
    text-decoration: none;
}
.L-navset .L-nav li a:hover {
    color: #222222;
}
 .L-navset .L-content {
    margin-top: -1px; 
    border-top: 1px solid #4a8700;
    border-bottom: 1px solid #4a8700;
    border-left: 1px solid #4a8700;
    border-right: 1px solid #4a8700;
 }
.L-navset .L-nav li{
    margin: 0 1px;
}
.L-nav-selected {
    border: 1px solid #4a8700;
    border-bottom-color: #fff;
}
.L-navset .L-nav li.L-nav-selected a {
    border: 0px;
}
/* L-Tooltip
---------------------------------------------------------*/
.L-stt {
    border:1px solid #4a8700;
}
/* L-filebox
---------------------------------------------------------*/
.L-filebox-button {
    color: #222222;
    font-weight: bold;
    background-color: #f3f2f2;
}
/* LPeriodDateBox
---------------------------------------------------------*/
.L-perioddatebox a.icon {
    background: transparent url(./images/datebox/cal.png) no-repeat 0 0;
    *background: transparent url(./images/datebox/cal.gif) no-repeat 0 0;
    top: 2px;
    *top: 3px;
}