.L-overlay {
    Z-INDEX: 2;
    /*VISIBILITY: hidden;*/
    POSITION: absolute
}

.L-panel-container {
    Z-INDEX: 2;
    /*VISIBILITY: hidden;*/
    POSITION: absolute
}

.L-panel-container FORM {
    MARGIN: 0px
}

.mask {
    DISPLAY: none;
    Z-INDEX: 1;
    RIGHT: 0px;
    LEFT: 0px;
    BOTTOM: 0px;
    POSITION: absolute;
    TOP: 0px
}

.block-scrollbars.mask {
    OVERFLOW: auto
}

.masked SELECT {
    _visibility: hidden
}

.drag SELECT {
    _visibility: hidden
}

.hide-select SELECT {
    _visibility: hidden
}

.L-panel-container SELECT {
    _visibility: inherit
}

.hide-scrollbars {
    OVERFLOW: hidden
}

.hide-scrollbars * {
    OVERFLOW: hidden
}

.hide-scrollbars SELECT {
    DISPLAY: none
}

.show-scrollbars {
    OVERFLOW: auto
}

.show-scrollbars.L-panel-container {
    OVERFLOW: visible
}

.show-scrollbars.L-tt {
    OVERFLOW: visible
}

.show-scrollbars.L-panel-container .underlay {
    OVERFLOW: auto
}

.show-scrollbars.L-tt .L-tt-shadow {
    OVERFLOW: auto
}

.shadow.L-panel-container .L-force-redraw.underlay {
    PADDING-BOTTOM: 1px
}

.L-effect-fade .underlay {
    DISPLAY: none
}

.L-tt-shadow {
    POSITION: absolute
}

.L-override-padding {
    PADDING-RIGHT: 0px !important;
    PADDING-LEFT: 0px !important;
    PADDING-BOTTOM: 0px !important;
    PADDING-TOP: 0px !important
}

.L-panel-container .container-close {
    OVERFLOW: hidden;
    TEXT-INDENT: -10000em;
    TEXT-DECORATION: none
}

.mask {
    FILTER: alpha(opacity=25);
    BACKGROUND-COLOR: #000;
    opacity: .25
}

.L-panel-container {
    PADDING: 0px;
}

.L-editor-panel {
    PADDING: 0px;
}

.L-panel {
    BORDER-RIGHT: #808080 1px solid;
    BORDER-TOP: #808080 1px solid;
    Z-INDEX: 1;
    LEFT: 0px;
    BORDER-LEFT: #808080 1px solid;
    BORDER-BOTTOM: #808080 1px solid;
    ZOOM: 1;
    POSITION: relative;
    TOP: 0px;
    _zoom: normal
}

.L-panel .hd {
    BORDER-RIGHT: #808080 0px solid;
    BORDER-TOP: #808080 0px solid;
    MARGIN: 0px;
    BORDER-LEFT: #808080 0px solid;
    BORDER-BOTTOM: #808080 0px solid
}

.L-panel .bd {
    BORDER-RIGHT: #808080 0px solid;
    BORDER-TOP: #808080 0px solid;
    MARGIN: 0px;
    BORDER-LEFT: #808080 0px solid;
    BORDER-BOTTOM: #808080 0px solid
}

.L-panel .ft {
    BORDER-RIGHT: #808080 0px solid;
    BORDER-TOP: #808080 0px solid;
    MARGIN: 0px;
    BORDER-LEFT: #808080 0px solid;
    BORDER-BOTTOM: #808080 0px solid
}

.L-panel .hd {
    BORDER-BOTTOM: #ccc 1px solid
}

.L-panel .bd {
    BACKGROUND-COLOR: #f2f2f2
}

.L-panel .ft {
    BACKGROUND-COLOR: #f2f2f2
}

.L-panel .hd {
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 93%;
    BACKGROUND: url(./../resources/skin/sam2/images/sprite.png) repeat-x 0px -200px;
    PADDING-BOTTOM: 0px;
    COLOR: #000;
    LINE-HEIGHT: 1.9;
    PADDING-TOP: 0px
}

.L-panel .bd {
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px
}

.L-panel .ft {
    PADDING-RIGHT: 10px;
    BORDER-TOP: #808080 1px solid;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px
}

.focused.L-panel-container .L-panel .hd {
    
}

.container-close {
    RIGHT: 6px;
    BACKGROUND: url(./../resources/skin/sam2/images/sprite.png) no-repeat 0px -300px;
    WIDTH: 25px;
    CURSOR: pointer;
    POSITION: absolute;
    TOP: 5px;
    HEIGHT: 15px
}

.L-panel-container .underlay {
    RIGHT: -1px;
    LEFT: -1px
}

.matte.L-panel-container {
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 9px;
    PADDING-TOP: 9px;
    BACKGROUND-COLOR: #fff
}

.shadow.L-panel-container {
    _padding: 2px 4px 0 2px
}

.shadow.L-panel-container .underlay {
    RIGHT: -1px;
    FILTER: alpha(opacity=12);
    LEFT: -1px;
    BOTTOM: -1px;
    POSITION: absolute;
    TOP: 4px;
    BACKGROUND-COLOR: #000;
    opacity: .12;
    _top: 0;
    _left: 0;
    _right: 0;
    _bottom: 0;
    _margin-top: 3px;
    _margin-left: -1px
}

.L-dialog .ft {
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 100%;
    PADDING-BOTTOM: 10px;
    BORDER-TOP-STYLE: none;
    PADDING-TOP: 0px
}

.L-dialog .ft .button-group {
    DISPLAY: block;
    TEXT-ALIGN: right
}

.L-dialog .ft BUTTON.default {
    FONT-WEIGHT: bold
}

.L-dialog .ft SPAN.default {
    BACKGROUND-POSITION: 0px -1400px;
    BORDER-LEFT-COLOR: #304369;
    BORDER-BOTTOM-COLOR: #304369;
    BORDER-TOP-COLOR: #304369;
    BORDER-RIGHT-COLOR: #304369
}

.L-dialog .ft SPAN.default .first-child {
    BORDER-LEFT-COLOR: #304369;
    BORDER-BOTTOM-COLOR: #304369;
    BORDER-TOP-COLOR: #304369;
    BORDER-RIGHT-COLOR: #304369
}

.L-dialog .ft SPAN.default BUTTON {
    COLOR: #000
}

.L-dialog .ft SPAN.L-button-disabled {
    BACKGROUND-POSITION: 0pt -1500px;
    BORDER-LEFT-COLOR: #ccc;
    BORDER-BOTTOM-COLOR: #ccc;
    BORDER-TOP-COLOR: #ccc;
    BORDER-RIGHT-COLOR: #ccc
}

.L-dialog .ft SPAN.L-button-disabled .first-child {
    BORDER-LEFT-COLOR: #ccc;
    BORDER-BOTTOM-COLOR: #ccc;
    BORDER-TOP-COLOR: #ccc;
    BORDER-RIGHT-COLOR: #ccc
}

.L-dialog .ft SPAN.L-button-disabled BUTTON {
    COLOR: #a6a6a6
}

.L-simple-dialog .bd .L-icon {
    BACKGROUND: url(./../resources/skin/sam2/images/sprite.png) no-repeat 0px 0px;
    FLOAT: left;
    WIDTH: 16px;
    MARGIN-RIGHT: 10px;
    HEIGHT: 16px
}

.L-simple-dialog .bd SPAN.blckicon {
    BACKGROUND-POSITION: 0px -1100px
}

.L-simple-dialog .bd SPAN.alrticon {
    BACKGROUND-POSITION: 0px -1050px
}

.L-simple-dialog .bd SPAN.hlpicon {
    BACKGROUND-POSITION: 0px -1150px
}

.L-simple-dialog .bd SPAN.infoicon {
    BACKGROUND-POSITION: 0px -1200px
}

.L-simple-dialog .bd SPAN.warnicon {
    BACKGROUND-POSITION: 0px -1900px
}

.L-simple-dialog .bd SPAN.tipicon {
    BACKGROUND-POSITION: 0px -1250px
}

.L-tt .bd {
    BORDER-RIGHT: #a6982b 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #d4c237 1px solid;
    PADDING-LEFT: 5px;
    Z-INDEX: 1;
    LEFT: 0px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #a6982b 1px solid;
    COLOR: #000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #a6982b 1px solid;
    POSITION: relative;
    TOP: 0px;
    BACKGROUND-COLOR: #ffee69
}

.show-scrollbars.L-tt .bd {
    OVERFLOW: auto
}

.L-tt-shadow {
    RIGHT: -3px;
    LEFT: -3px;
    BOTTOM: -3px;
    TOP: 2px;
    BACKGROUND-COLOR: #000
}

.L-tt-shadow-visible {
    FILTER: alpha(opacity=12);
    opacity: .12
}